[2018-01-08 23:02] ghost commented on #139
No. Thank you!

[2018-01-08 23:03] ghost commented on #139
*Np

[2018-01-09 21:20] charleseb commented on #137
Hi all,

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCX27.109-38

Thanks,
Charles

[2018-01-09 21:20] #137 closed, assigned to nobody

[2018-01-09 22:24] kraatus90 commented on #137
i hope payton oreo source isn't too far. 👍

[2018-01-10 08:26] Keertesh19 opened #141 "Request for NPS26.116-61 tag source update of sanders"
Please release source update for NPS26.116-61 tag of Moto G5S Plus (sanders).

[2018-01-10 08:28] Keertesh19 commented on #141
@charleseb @chenyt9

[2018-01-10 10:36] Vachounet commented on #137
@kraatus90  Payton defconfigs are there too, worth to check if it build/boot.

[2018-01-10 12:24] awheeler-mmi commented on #137
Yup, payton and nash share a kernel. We'll get the payton tag released next week, but in the meantime the nash tag should work.

[2018-01-10 18:04] ghost commented on #139
I meant to add that the 3rd commit listed needs to be reverted, if f2fs is upstreamed to 4.10.  Also, I am not the one who found these patches. It was arter97 who pointed them out here: https://forum.xda-developers.com/showpost.php?p=70492947&postcount=8793

[2018-01-11 00:29] kraatus90 commented on #137
yep i saw them,  gonna build tonight.  thanks.

Update : it boots. even loads stock wifi module without any changes.

[2018-01-11 16:37] luca020400 commented on #137
That's weird actually, it doesn't use signed modules or you force disabled it in defconfig?

[2018-01-11 16:43] luca020400 commented on #139
I'm not really a fun of these /reverts/, now that Jaegeuk Kim is working for/whit google on f2fs for Android I would just rather stick with the kernel_common fs/f2fs ( even though we recently had to revert the latest changes because they were causing kernel panics, but ¯\_(ツ)_/¯ )

[2018-01-11 22:12] kraatus90 commented on #137
i didn't change a thing regarding that. and i'm using defconfig extracted from boot.img.

i was surprised too.

[2018-01-15 12:21] charleseb commented on #141
Hi @Keertesh19,

We are working to release this version. It will be available by Friday.

Thanks,
Charles

[2018-01-16 13:16] charleseb commented on #140
Hi @kraatus90,

This version is in our pipeline and will be released soon. This version will be available by the next week.

Thanks,
Charles

[2018-01-16 16:14] charleseb commented on #141
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPS26.116-61

Thanks,
Charles

[2018-01-16 16:14] #141 closed, assigned to nobody

[2018-01-16 16:58] jbk005 commented on #141
Hai guys I have problem in cosmic ROM in moto g5s+
I didn't get buttons in setting>galaxy>buttons it becomes empty

And also I can't able to use "custom navigation bar" app

[2018-01-16 17:00] luca020400 commented on #141
@jbk005 sad.

[2018-01-22 01:32] hangfan1 commented on #140
Hi @kraatus90,
Version MMI-OPW27.57-40 has published in 2018/01/22.
link is https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPW27.57-40.

Thanks
Hangfan

[2018-01-22 01:32] #140 closed, assigned to nobody

[2018-01-27 11:24] rahulsnair opened #142 "Request for NPSS26.118-19-18 tag source update for Albus (Moto Z2 Play)"
Please release the kernel source for tag NPSS26.118-19-18 for Moto Z2 Play (albus)

[2018-01-27 11:25] rahulsnair commented on #142
@charleseb @chenyt9

[2018-01-29 13:05] charleseb commented on #142
Hi @rahulsnair,

I'm working to release this version by Friday.

Thanks,
Charles

[2018-02-06 22:28] fernandobouchet opened #143 "Moto G5 Plus "Potter" - NPN25.137-93 Kernel Sources"
Could you provide the corresponding sources ?

@charleseb @chenyt9 @awheeler-mmi

Thanks in advance!

[2018-02-07 17:43] faiyazsheth commented on #142
+1, please release asap. :)

[2018-02-07 20:13] charleseb commented on #142
We are almost there.

- Charles

[2018-02-07 20:15] charleseb commented on #143
Hi @attack11,

We are working to release this version by Wednesday.

-Charles

[2018-02-08 10:44] Keertesh19 opened #144 "Request for NPSS26.116-61-2/-26-8 tag source update of sanders"
Please release source update for NPSS26.116-61-2/-26-8 tag of Moto G5S Plus (sanders).

[2018-02-08 10:45] Keertesh19 commented on #144
@charleseb

[2018-02-09 15:04] charleseb commented on #142
Version released
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPSS26.118-19-18

[2018-02-09 15:04] #142 closed, assigned to nobody

[2018-02-09 18:56] 9jkh commented on #143
Got it OTA few days ago for G5+

Does this update patch KRACK, Bluborne, Spectre-Meltdown?

[2018-02-15 18:17] Ristovski commented on #143
@charleseb Any progress on this?

[2018-02-15 18:40] charleseb commented on #143
Hi @Ristovski,

I'm working to conclude this push.

Thanks,
Charles

[2018-02-15 20:26] charleseb commented on #143
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPN25.137-93

Thanks,
Charles

[2018-02-15 20:26] #143 closed, assigned to nobody

[2018-02-15 20:44] awheeler-mmi commented on #143
He @9jkh,

Good to hear you got the update.  The Bluborne patches came in with the September patch set, so you are good there.  The KRAK and Spectre/Meltdown fixes are part of the January patch set, which are in the queue for the next update.  But potter is A53, so it's not particularly susceptible to Spectre or Meltdown.

[2018-02-19 14:35] charleseb commented on #144
Hi @Keertesh19,

I'm working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-02-22 19:47] fernandobouchet opened #145 "Moto G5 Plus "Potter" - NPNS25.137-93-4 Kernel Sources"
Hi Again @charleseb @chenyt9 @awheeler-mmi

Could you provide the corresponding sources ?

Thanks in advance!

[2018-02-24 23:23] Uzephi commented on #138
Closing issue. Now that I have the Sprint Oreo update and see you have leveled the voltages to stock msm8998, there is no reason for this to be open. Thank you for fixing this

[2018-02-24 23:23] #138 closed, assigned to nobody

[2018-02-26 11:37] Keertesh19 commented on #144
Okay.....

[2018-02-26 13:40] charleseb commented on #144
Hi @Keertesh19,

We are almost there.

Thanks,
Charles

[2018-02-26 13:44] Keertesh19 commented on #144
Hey @charleseb,
No problem sir take your time. :).. Thanks

[2018-02-27 00:50] charleseb commented on #145
Hi @attack11,

We are working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-02-28 15:33] charleseb commented on #144
Hi @Keertesh19,

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPSS26.116-61-2

Thanks,
Charles

[2018-02-28 15:33] #144 closed, assigned to nobody

[2018-03-02 20:27] charleseb commented on #145
Hi @attack11,

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPNS25.137-93-4

Thanks,
Charles

[2018-03-02 20:27] #145 closed, assigned to nobody

[2018-03-05 14:14] ghost opened #146 "Source code release"
Is there any chance we can get the latest kenel source code released for Owens and Perry? Please, and thank you!

[2018-03-05 14:16] luk1337 commented on #146
You need to provide the exact versions otherwise you'll get ignored.

[2018-03-05 14:42] charleseb commented on #146
Hi @Goose03,

Could you describe the version you need, please?

Thanks,
Charles

[2018-03-06 15:56] ghost commented on #146
MMI-NPR26.58-45 for Owens
MMI-NCQ26.69-56 for Perry
Thank you very much!

[2018-03-08 03:06] chenyt9 commented on #146
@Goose03 ，since we have a series of approval processes prior to the release of the code, we need a little time and we expect to release the code before next Friday (16th). Thank you for your patience. Once the code is updated, I will inform you immediately.

[2018-03-08 13:15] ghost commented on #146
Not a problem, I know you guys have a lot to deal with. That was expected. Thank you very much for your quick response.

[2018-03-12 10:02] chenyt9 commented on #146
@Goose03 , Versions have been released.
MMI-NPR26.58-45 for Owens:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPR26.58-45
MMI-NCQ26.69-56 for Perry:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NCQ26.69-56
Thanks.

[2018-03-12 10:02] #146 closed, assigned to nobody

[2018-03-20 17:34] erfanoabdi opened #147 "Moto Z "Griffin" - OCC27.102-18 Kernel Sources"
Hi @charleseb @chenyt9 @awheeler-mmi

Blur Version: Blur_Version.27.11.22.griffin_retcn.retcn.en.cn

Could you provide the corresponding sources(v4l2, greybus, kernel, qcacld2) ?

Thanks in advance!

[2018-03-21 17:29] Jdushey commented on #143
I just purchased a Moto G5 Plus - XT1687.
1. Looking for stock image to flash in case something happens while trying to root the device.
2. Is Oreo available for this device ?

[2018-03-21 18:11] awheeler-mmi commented on #143
Hey @Jdushey,

We put all released factory images [here](https://motorola-global-portal.custhelp.com/app/standalone/bootloader/recovery-images).  We have not released images for the G5 Plus, but they appear to be available if you look around.

The G5 Plus Oreo release is coming!  Stay tuned [here](https://mobilesupport.lenovo.com/us/en/softwareupgrade) for more info.

Thanks,

-andrew

[2018-03-23 01:51] hangfan1 commented on #147
Hi erfanoabdi
I will push the sources code for version OCC27.102-18 to github in one weeks.
thanks
Hangfan

[2018-03-27 02:34] hangfan1 commented on #147
Hi erfanoabdi
I has pushed the sources code for version OCC27.102-18.
The tag is MMI-OCC27.102-18 and readme file is MMI-OCC27.102-18.txt.

thanks
Hangfan

[2018-03-27 02:34] #147 closed, assigned to nobody

[2018-03-27 08:27] erfanoabdi commented on #147
Thanks @hangfan1 for kernel source, but i can't see tag MMI-OCC27.102-18 for greybus, v4l2_hal and **qcacld2**
Could you please also provide sources for following repos :
https://github.com/MotorolaMobilityLLC/motorola-external-greybus
https://github.com/MotorolaMobilityLLC/motorola-external-v4l2_hal
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-wlan-qcacld-2.0

[2018-03-27 08:49] hangfan1 commented on #147
Hi erfanoabdi
Sorry for missed vendor-qcom-opensource-wlan-qcacld-2.0. I will push this tag.
However, Checked in the full build log, the project(Moto Z "Griffin") don't use motorola-external-greybus and motorola-external-v4l2_hal .

thanks
Hangfan

[2018-03-27 09:00] erfanoabdi commented on #147
could you please check build log again, griffin have moto mods feature and kernel should have greybus modules for connecting to mods in kernel side and v4l2 for camera mod
also in stock rom we can see :
[code]

Thanks

[2018-03-27 09:06] hangfan1 commented on #147
Hi
I will take a full build again .
If the project used these two module, I wil push these to github.
thanks for reminding.

Hangfan

[2018-03-28 07:19] hangfan1 commented on #147
Hi erfanoabdi
Thanks for reminding.
I have pushed the tag to
https://github.com/MotorolaMobilityLLC/motorola-external-greybus
https://github.com/MotorolaMobilityLLC/motorola-external-v4l2_hal

thanks
Hangfan

[2018-03-28 07:22] erfanoabdi commented on #147
thank you very much ❤️, i'm still waiting for qcacld driver

[2018-03-28 08:48] hangfan1 commented on #147
Hi
Tag MMI-OCC27.102-18 has push to
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-wlan-qcacld-2.0
thanks
Hangfan

[2018-03-28 13:05] HidingCherry commented on #134
Have this fix been merged to the oreo-8.0.0-release-griffin branch?
I have waited for a new release but sadly I still have this problem with the oreo kernel.

I haven't seen the Change-Id here yet, so I guess it never got published.

[2018-03-29 03:20] Keertesh19 opened #148 "Request for NPSS26.116-61-5 tag source update of sanders"
Please release source update for NPSS26.116-61-5 tag of Moto G5S Plus (sanders).

[2018-03-29 03:27] Keertesh19 commented on #148
@chenyt9 @hangfan1

[2018-03-29 03:28] Keertesh19 commented on #148
And please release/mail blank flash files for sanders if possible. Thanks! 😁

[2018-03-29 03:39] CheckYourScreen commented on #148
@awheeler-mmi many users reported loss of imei/volte after fastboot flashing of latest firmware(NPS26.116-61/NPSS26.116-61-2) having new bootloader(C2.07) and updated fsg/modem/firmware.
I cant figure out what's the exact cause of this issue, will be great if you could shed some light on the fix or maybe release blankflash files for sanders to try out a clean flash.

[2018-04-04 07:27] CheckYourScreen commented on #148
@chenyt9 @charleseb @awheeler-mmi @hangfan1 any update on this?

[2018-04-04 19:20] charleseb commented on #148
Hi @Keertesh19 and @CheckYourScreen,

I'm working to release this version.

Thanks,
Charles

[2018-04-08 23:57] #81 closed, assigned to nobody

[2018-04-12 02:40] kraatus90 opened #149 "Kernel source for march security update moto x4."
build - OPWS27.57-25-6-10
device- payton

when can we expect it ?

[2018-04-12 09:01] CheckYourScreen commented on #148
Hi @charleseb ,
See if you can push april patch(upcoming) as well along with the current tag you are preparing to release.
New OTA should be out in few days so it will save time instead of waiting again for a month.
Next one for sanders should be of oreo right?

[2018-04-12 11:49] Plususer opened #150 "Kernel Source Request for Moto G4 Plus NPJS25.93-14-15"
Hello,

Please could you provide the kernel sources for the Moto G4 Plus (codenamed Athene), with tag NPJS25.93-14-15.

Many thanks, and I hope you are well.

[2018-04-12 12:47] charleseb commented on #148
Hi @CheckYourScreen,

This version will be released by Monday.

Thanks,
Charles

[2018-04-12 18:52] kraatus90 commented on #149
@chenyt9 @hangfan1

[2018-04-13 02:31] daudibrahim131 commented on #148
Sir please release ROM of NPSS26.116-61-5 my Moto g5s plus have lost it's volte feature and ask for only stock after this ROM .

[2018-04-13 14:06] fernandobouchet opened #151 "Moto G5 Plus "Potter" - NPNS25.137-93-8 Kernel Sources"
Hi @charleseb @chenyt9 @awheeler-mmi @hangfan1

Could you provide the corresponding sources ?

Thanks in advance!

[2018-04-16 03:36] thirunko commented on #148
please release blankflash file for moto g5s xt1792

[2018-04-17 03:10] chenyt9 commented on #149
Hi，@kraatus90
We have a process to follow before to release a version to Github. We are working to release this version code, it will be available in a few days.

Thanks,

[2018-04-17 03:18] chenyt9 commented on #151
Hi，@attack11,
We have a process to follow before to release a version to Github. We are working to release this version code, it will be available in a few days.

Thanks,

[2018-04-18 19:10] CheckYourScreen commented on #148
Hi @charleseb ,
Which monday? :)

[2018-04-20 06:16] chenyt9 commented on #151
Hi @attack11,

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPNS25.137-93-8

Thanks,
chenyt9

[2018-04-20 06:30] #151 closed, assigned to nobody

[2018-04-20 08:23] chenyt9 commented on #149
Hi @kraatus90

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPWS27.57-25-6-10

Thanks,
chenyt9

[2018-04-20 08:23] #149 closed, assigned to nobody

[2018-04-20 11:52] thirunko commented on #148
hi @charleseb no news about blankflash for moto g5s xt1792?

[2018-04-21 15:26] Plususer commented on #150
@charleseb @chenyt9 @awheeler-mmi @hangfan1

[2018-04-23 20:09] CheckYourScreen commented on #148
Hi @charleseb @chenyt9 ,
Any update on this?

[2018-04-23 20:35] charleseb commented on #148
Hi all,

Sorry. I was out for a while. I'm working to push the version this week.

Thanks,
Charles

[2018-04-26 21:11] charleseb commented on #148
Version released:

https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPSS26.116-61-5

[2018-04-26 21:11] #148 closed, assigned to nobody

[2018-04-26 21:17] CheckYourScreen commented on #148
Thanks @charleseb !
Can you plz check for NPSS26.116-61-8 for being in pipeline? I heard some users are getting april patch with that build number, anyways thanks again!

[2018-04-26 21:28] charleseb commented on #150
Hi @Plususer,

I'm working to release this version.
It will be available by Tuesday.

Thanks,
Charles

[2018-04-26 21:47] charleseb commented on #148
Hi @CheckYourScreen,

I'm starting the process to release this version.

Thanks,
Charles

[2018-04-27 08:23] HidingCherry commented on #134
@awheeler-mmi could you please react somehow?
Otherwise I guess that this is being overseen and will open a new issue.

[2018-05-01 14:25] thirunko commented on #148
Hi @charleseb,
you can make the blankflash file available to recover this device Moto G5S xt1792

[2018-05-03 15:32] charleseb commented on #150
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPJS25.93-14-15

[2018-05-03 15:32] #150 closed, assigned to nobody

[2018-05-04 05:58] CheckYourScreen commented on #148
Hi @charleseb ,
Any eta for NPSS26.116-61-8 tag?
Thanks!

[2018-05-06 04:59] Uzephi opened #152 "Kernel source for March update Nash OCX27.109-48-3 and OCX27.1.2"
Since the March update should have the January, February and March security updates and the CAF kernel updates, can we get that source? Upon looking at the kernel files side by side in a binary checker, there isn't much of a change between the two and I would like to see if those security patches are in there. The one patch for KPTI leaks in 4.4.112 (used in CAF as well) actually breaks motomod fu

[2018-05-06 05:48] Uzephi commented on #152
Below is the example explained above where the code just shifted addresses, possibly due to the empty block of the uncompressed image.

![binary1](https://user-images.githubusercontent.com/32314945/39670301-64b04ca8-50b6-11e8-9fc9-9548273fd7eb.JPG)
![binary2](https://user-images.githubusercontent.com/32314945/39670302-64c8f9c4-50b6-11e8-953f-c310c20453da.JPG)

[2018-05-09 15:33] charleseb commented on #148
Version released
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPSS26.116-61-8

[2018-05-17 21:22] awheeler-mmi commented on #152
Hey @Uzephi,

Sorry for the delay, but I just heard back from our security team.  The KPTI patches are not yet part of Google's SMR patch bulletins for MSM8998-based devices.  Per Google, the patches are still "in development".  So they did not make them part of their security bulletin, except for chipsets that are susceptible to "Variant 3" attacks.  QCOM's MSM8998 is not impacted by Variant 3, s

[2018-05-18 14:27] hzulla commented on #26
@awheeler-mmi I would very very much love to have the RZ100 support included in mainline. Is there any plan  on your team for adding hid-motorola to mainline?

[2018-05-29 09:54] chenyt9 commented on #152
Hi，@Uzephi,
The latest payton tag is: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPWS27.57-43-2-4-3
That is, the source code of OPWS27.57-43-2-3 version.

[2018-05-29 12:28] erfanoabdi commented on #152
thanks for new payton tag but any chances on OPW28.1 payton kernel source ?

[2018-06-11 10:40] ahmedalbayati opened #153 "Moto G6 Plus "Evert" - OPW27.113-45 Kernel Sources"
Hi, @charleseb @chenyt9 @awheeler-mmi @hangfan1

**Blur Version:** Blur_Version.27.11.53.evert.retail.en.US
**Build Fingerprint:** motorola/evert/evert:8.0.0/OPW27.113-45/53:user/release-keys
**Android Version:** 8.0.0

Can you provide the corresponding sources?
Thanks in advance!

[2018-06-11 22:41] creasingmass commented on #153
+1

[2018-06-12 01:54] chenyt9 commented on #153
@ahmedalbayati， @creasingmass ，
Because we have some necessary processes, so we need a little time. We will release OPW27.113-45 ASAP. It will be released within two weeks.
Thanks for understanding
BRs.
chenyt9

[2018-06-12 02:16] charleseb commented on #153
Hi guys,

We are working to release this version. It will be available by Friday.

Thanks,
Charles

[2018-06-13 15:29] sir-maniac opened #154 "Moto G6 "Ali" - OPS27.104-15-10 Kernel Sources"
Hi, @charleseb @chenyt9 @awheeler-mmi @hangfan1

Blur Version: Blur_Version.27.51.12.ali.retail.en.US
Build Fingerprint: motorola/ali/ali:8.0.0/OPS27.104-15-10/12:user/release-keys
Android Version: 8.0.0

Can you provide the corresponding sources?
Thanks in advance!

[2018-06-14 06:51] chenyt9 commented on #153
@creasingmass ，@ahmedalbayati,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPW27.113-45
thanks.

[2018-06-14 06:51] #153 closed, assigned to nobody

[2018-06-16 17:42] Keertesh19 opened #155 "Request for OPS28.49-2 tag source update of sanders"
Please release source update for OPS28.49-2 tag source update of sanders

[2018-06-16 17:46] Keertesh19 commented on #155
@charleseb @chenyt9 @hangfan1

[2018-06-17 15:15] Uzephi commented on #152
Any update on officially having the Nash tags? We also got another update recently. 27.109-51-4 for T-Mobile. 27.109-48-6 for Sprint. Any ETA on when source for these will be released?

I hate to link this but... https://www.gnu.org/licenses/gpl-violation.en.html

[2018-06-21 08:55] chenyt9 commented on #152
@Uzephi,
I'll check it. But sorry, I need to confirm that the version you requested is OCX27.109-51-4 and OCX27.109-48-6, right?
Thanks.

[2018-06-21 09:00] chenyt9 commented on #154
@sir-maniac ,
Because we have some necessary processes, so we need a little time. We will release OPS27.104-15-10 ASAP. It will be released within one weeks.
Thanks for understanding.
BRs.
chenyt9

[2018-06-21 14:49] Uzephi commented on #152
@chenyt9 yes. Thank you for the prompt response. I am glad to get an update on what is going on. I understand the process of how long it can take. I just got frustrated because -3 and 27.1.2 were promised about a month ago and still waiting for it. I have been holding off on my kernel release since it is still running the December Kernel and doesn't have anything from you on March or the newer upd

[2018-06-21 15:29] sir-maniac commented on #154
@chenyt9  Thank you.

[2018-06-25 05:58] chenyt9 commented on #154
@sir-maniac,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS27.104-15-10
Thanks.

[2018-06-25 05:58] #154 closed, assigned to nobody

[2018-06-25 09:06] chenyt9 commented on #152
@erfanoabdi ,
Could you specify the version you need in more detail? Thanks.

[2018-06-25 09:08] chenyt9 commented on #152
@Uzephi ,
Because we have some necessary processes, so we need a little time. We will release it ASAP. Usually, it will be released within two weeks.
Thanks for understanding
BRs.
chenyt9

[2018-06-25 10:33] erfanoabdi commented on #152
@chenyt9 thanks for reply
yeah, sure

Payton
Build Id: OPW28.46-13
Build Fingerprint: motorola/payton/payton:8.1.0/OPW28.46-13/AQZXUTus:user/release-keys
Blur Version: Blur_Version.28.11.16.payton.retail.en.US

[2018-07-01 14:40] codyf86 opened #156 "Oreo 8.0.0 James Source"
Please release the source for the james kernel.  Was able to boot the LA.UM.6.6 codeaurora kernel, but battery stats and cell radio do not work.

[2018-07-03 03:26] chenyt9 commented on #152
@Uzephi,
Sorry, I need to confirm again because I can't find the two versions OCX27.109-51-4 and OCX27.109-48-6. Would you please confirm that it is OCX or OCXS?
And, which version of "-3 and 27.1.2" did you say? Can you specify it?
Please provide the specific project+ specific version number. Otherwise, we may not know much about your needs.
Thank you.
BRs.
Yuting

[2018-07-03 03:33] Uzephi commented on #152
https://androidfilehost.com/?fid=674106145207492373
NASH_SPRINT_OCXS27.109-48-6_subsidy-DEFAULT_regulatory-DEFAULT_CFC
https://androidfilehost.com/?fid=818222786056035860
NASH_TMO_C_OCXS27.109-51-4_subsidy-TMO_RSU_regulatory-DEFAULT_CFC

Link to firmware and name of firmware files. Sorry, I haven't ran stock in a long time to grab those in a timely manner.

[2018-07-03 05:41] chenyt9 commented on #152
@Uzephi,
I have to re-apply for permission to publish. The previously applied version is not OCXS.

[2018-07-03 06:03] chenyt9 commented on #156
@codyf86 ，
Please provide a specific version number, I will apply for release, thank you!

[2018-07-03 16:09] codyf86 commented on #156
OCP27.91-23 :)

[2018-07-04 10:10] chenyt9 commented on #152
@Uzephi,
Version Released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCXS27.109-51-4
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCXS27.109-48-6
Thanks.

[2018-07-04 16:32] codyf86 commented on #156
Also, a shot in the dark, but if you could manifest this file from motorola JAMES_SPRINT_OCP27.91-23_cid50_XT1921-5-SS_8.0.0_subsidy-DEFAULT_regulatory-DEFAULT_CFC.xml.zip

I'm the only one developing for the e5 atm and managed to soft brick one already haha. :)  Had to go buy a new one.  If it's possible email me codyf86@gmail.com I know the files been released but its on like one site that wants

[2018-07-04 17:32] Uzephi commented on #152
Thank you very much.

[2018-07-04 17:32] #152 closed, assigned to nobody

[2018-07-06 07:53] chenyt9 commented on #152
@erfanoabdi，
Version Released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPW28.46-13
Thanks.

[2018-07-06 07:58] erfanoabdi commented on #152
Awesome, thank you so much

[2018-07-10 08:55] chenyt9 commented on #156
@codyf86
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCP27.91-23
Thanks.

[2018-07-10 08:55] #156 closed, assigned to nobody

[2018-07-12 12:38] TimoRoth opened #157 "Moto Z Play OPN27.76-12-22 / OPNS27.76-12-22-3 kernel sources"
I'm looking for the Kernel of one of the following two addison oreo releases:

Build Fingerprint: motorola/addison/addison:8.0.0/OPNS27.76-12-22-3/3:user/release-keys
Blur Version: Blur_Version.27.201.3.addison.retail.en.US
Android Version: 8.0.0

or:

Build Fingerprint: motorola/addison/addison:8.0.0/OPN27.76-12-22/24:user/release-keys
Blur Version: Blur_Version.27.21.24.addison.retail.en.US
Andr

[2018-07-14 21:37] BtbN commented on #157
@charleseb @chenyt9 @awheeler-mmi @hangfan1

[2018-07-23 09:23] belegdol opened #158 "Please release kernel source for kinzie NPKS25.200-12-9"
Please may you release the kernel source for kinzie NPKS25.200-12-9? It is the latest kernel available for reteu model. Thank you!

[2018-07-23 15:10] charleseb commented on #157
Hi @TimoRoth, @BtbN,

We are working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-07-23 15:10] charleseb commented on #158
Hi @belegdol,

We are working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-07-23 18:43] charleseb commented on #155
Hi @Keertesh19,

We are working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-07-25 18:16] CheckYourScreen commented on #155
@charleseb could you please release the latest tag (OPS28.65-14) instead.
Thanks!

[2018-07-30 23:09] CheckYourScreen commented on #155
@charleseb @chenyt9 any update on this?

[2018-07-31 07:10] chenyt9 commented on #155
@Keertesh19 ，
Version Released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.49-2
Thanks.

[2018-07-31 07:57] GtrCraft opened #159 "Request for OPS28.85-13 source of Potter"
Can you please release the kernel source of OPS28.85-13 for potter?

[2018-07-31 14:47] fernandobouchet commented on #159
@charleseb @chenyt9 @awheeler-mmi @hangfan1

[2018-07-31 20:47] belegdol commented on #158
Hi @charleseb, would you happen to have any updates regarding the release? Thank you!

[2018-08-03 02:00] chenyt9 commented on #157
@TimoRoth @BtbN
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPNS27.76-12-22-24-3
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPN27.76-12-22
Thanks.

[2018-08-03 02:00] #157 closed, assigned to nobody

[2018-08-03 13:55] charleseb commented on #158
Hi @belegdol,

We are almost there.

Thanks,
Charles

[2018-08-05 07:19] HidingCherry opened #160 "USB Soundcard sometimes not recognized"
Dupe of this issue: https://github.com/MotorolaMobilityLLC/kernel-msm/issues/134

BUT; the commit [Change-Id I0bca9e78a0158d71423e6a767e63a1ffa35882bf](https://github.com/MotorolaMobilityLLC/kernel-msm/search?utf8=%E2%9C%93&q=I0bca9e78a0158d71423e6a767e63a1ffa35882bf&type=) has never been published, so the issue isn't solved.
Please reopen the issue. (Since no one is reacting to a closed issue.)

[2018-08-05 07:32] HidingCherry opened #161 "CPU freq little cluster always high while touching display"
This is for kernel release: oreo-8.0.0-release-griffin

Device: Moto Z (XT1650-03)
Kernel source: https://github.com/MotoZ-2016/android_kernel_motorola_msm8996
ROM: custom ROM ResurrectionRemix (self build) based on Android 8.1.0

Issue:
While display is being touched, the little cluster of the CPU is always on max. frequency (if I set max. freq 729MHz, it is then at this freq and if I set 1539MHz

[2018-08-06 19:49] charleseb commented on #158
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPKS25.200-12-9

Thanks,
Charles

[2018-08-06 19:49] #158 closed, assigned to nobody

[2018-08-08 11:19] hermesthecat opened #162 "release for MMI-NPLS26.118-20-5-11"
can you add for release for MMI-NPLS26.118-20-5-11?

[2018-08-09 11:48] mg5sp opened #163 "Please provide VoLTE Update patch for Sanders for Airtel and Vodafone"
Please provide update patch to enable VoLTE for Bharti Airtel and Vodafone in sanders.At present VoLTE is supported only for Jio.But other moto phones like E4 has rolled out airtel volte update, also recently launched G6 series supports VoLTE for other carriers.

[2018-08-09 11:49] mg5sp commented on #163
@charleseb @chenyt9 @awheeler-mmi @hangfan1

[2018-08-09 12:04] awheeler-mmi commented on #163
Hey @mg5sp,  We enable VoLTE per-device and per-carrier, based on agreements with the carriers, and based on our performing the required testing.  So we don't provide provide patches to enable VoLTE on new carriers, as that would essentially bypass our agreements and required testing.  We sometimes do enable VoLTE on carriers during an upgrade, so keep your eye out after taking an (non-security-on

[2018-08-14 18:22] charleseb commented on #162
Hi @abazad,

We are working to release this version. It will be released by Friday.

Thanks,
Charles

[2018-08-17 20:10] RebelLion420 opened #164 "Moto E4 (perry) kernel source is broken"
Source wont compile without a lot of rewrite, is there any way you could release a complete and functional source? It would be much appreciated for a device that seems to be no longer officially supported but valuable nonetheless

[2018-08-17 21:25] charleseb commented on #162
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPLS26.118-20-5-11

Thanks,
Charles

[2018-08-17 21:25] #162 closed, assigned to nobody

[2018-08-18 08:02] hermesthecat commented on #162
hi @charleseb

can you release same version for  vendor-qcom-opensource-wlan-qcacld-2.0, motorola-external-greybus  and motorola-external-v4l2_hal?

thanks in advance.

[2018-08-18 09:50] hermesthecat commented on #162
hi @charleseb

oohh  i saw.   you released it.

thank you much.

[2018-08-18 22:35] Motophan opened #165 "Beckham Moto z3 play USA motorola.com model"
Please release kernel source for this. Thanks for your time.

@charleseb @chenyt9 @awheeler-mmi @hangfan1

[2018-08-20 18:07] charleseb commented on #165
Hi @Motophan,

Please inform the version you need.

Thanks,
Charles

[2018-08-21 21:16] fernandobouchet commented on #155
@chenyt9 @charleseb missing the f2fs "motorola-kernel" sources from the released Tag OPS28.49-2

[2018-08-22 00:25] frantisheq commented on #165
OPW28.70-25

[2018-08-22 00:35] Motophan commented on #165
There is only one version to my knowledge. This is a presale question. The
BLU (zte) and OP3/5 (One plus) had spyware embedded in the phone, only to
be discovered with source code release. Moto is a honest company, but I
will not buy a phone unless it source is available. the Moto z3 play is on
my short list because of 1- microsd, 2- unlockable bootloader (I am coming
from a Moto x pure, a phone I

[2018-08-22 00:35] Motophan commented on #165
OPW28.70-25

[2018-08-22 04:28] chenyt9 commented on #155
@attack11 ，
Thank you for your reminder, it has been added.
Please refer to: https://github.com/MotorolaMobilityLLC/motorola-kernel/releases/tag/MMI-OPS28.49-2

[2018-08-22 13:16] charleseb commented on #165
Hi @Motophan,

I'm working to release this version. It will be available by Tuesday.

Thanks,
Charles

[2018-08-22 15:14] fernandobouchet commented on #155
Thanks @chenyt9 , One last thing,Can you release the readme please?

[2018-08-28 12:23] loonycrd opened #166 "Moto g4/g4 plus "athene" - NPJS25.93-14-18 kernel source"
Hi @charleseb @chenyt9 could you please update the source for athene.
Build no. NPJS25.93-14-18. Thanks in advance.

[2018-08-28 13:21] chenyt9 commented on #165
Version release:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPW28.70-25
Thanks.

[2018-08-28 13:21] #165 closed, assigned to nobody

[2018-08-29 06:01] chenyt9 commented on #155
@attack11 ,
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-OPS28.49-2.txt
Thanks.

[2018-08-29 06:01] #155 closed, assigned to nobody

[2018-08-30 20:38] charleseb commented on #166
Hi @loonycrd,

We are working to release this version. It will be released by Tuesday.

Thanks,
Charles

[2018-09-04 16:50] Jleeblanch opened #167 "OPSS27.104-15-10-4 kernel source - Moto G6 (ali)"
Hey @charleseb @chenyt9

When you get a chance, could you please release the kernel source for **OPSS27.104-15-10-4**, I'd greatly appreciate it.

Thank you

[2018-09-05 02:20] chenyt9 commented on #167
@Jleeblanch ,
I have triggered the release process and may finish the release before next Friday. Please be patient, thank you!

[2018-09-05 03:17] Jleeblanch commented on #167
@chenyt9 ,
Thanks for the reply, I will be patiently waiting

[2018-09-05 17:39] charleseb commented on #166
Hi @loonycrd,

Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPJS25.93-14-18

Thanks,
Charles

[2018-09-05 17:39] #166 closed, assigned to nobody

[2018-09-06 14:06] loonycrd commented on #166
Thanks Charles.

Corresponding branch for this tag is "nougat-7.0.0-release-smr" just in case to avoid any confusion as the branch name doesn't include device codename.

[2018-09-06 14:12] charleseb commented on #166
Hi @loonycrd,

Yes, nougat-7.0.0-release-smr is the upstream to this version tag. Please use the tag as reference. That's possible to an existing branch be used just for an update in future versions.

Thanks,
Charles

[2018-09-08 22:48] Uzephi opened #168 "OPXS27.109-34-13 Kernel source"
Hello, for our Nash, after July Security patches my custom kernel will not have wifi work. (it runs off OPXS27.109-48-6 which is May security patch) Can you please release the source for this release number so I can merge it and have wifi working again? thank you.

[2018-09-10 08:20] Keertesh19 opened #169 "Request for OPS28.65-36 tag source update of sanders"
Request for OPS28.65-36 tag source update of sanders.
Thanks!

[2018-09-12 12:38] fernandobouchet commented on #159
Any update on this @charleseb @chenyt9 @awheeler-mmi @hangfan1 ? Thanks in advance

[2018-09-12 18:01] charleseb commented on #159
Hi all,

I'm starting the process to release this version. It will be released by next week.

Thanks,
Charles

[2018-09-15 00:51] Dark98 opened #170 "Request for OPG28.54-19 pettyl kernel sources"
Would you be able to release these sources? & is there anyway to get to firmware packages for this device?

[2018-09-15 05:59] Keertesh19 commented on #169
@charleseb @chenyt9

[2018-09-15 18:37] Dark98 commented on #170
@chenyt9 @charleseb @awheeler-mmi

[2018-09-15 18:50] shetty07 commented on #169
Yes
Request OPS28.65-35 For MOTO G5 S PLUS..
THANK YOU

[2018-09-17 10:14] chenyt9 commented on #167
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPSS27.104-15-10-4
Thanks.

[2018-09-17 10:14] #167 closed, assigned to nobody

[2018-09-17 19:42] charleseb commented on #168
Hi @Uzephi,

I'm starting the process to release this version.

Thanks,
Charles

[2018-09-18 20:58] HidingCherry commented on #160
Please close this issue if you are not going to solve it.

[2018-09-18 20:59] HidingCherry commented on #161
Please close this issue if you are not going to solve it.

[2018-09-19 00:04] jasonmerc commented on #164
As @MotorolaMobilityLLC  may be aware, releasing incomplete/broken kernel source is a violation of the GPL, which is treated as a "contract" of sorts.  As such, failure to comply is breaking the law.

Hopefully they'll come through.

[2018-09-20 05:53] chenyt9 commented on #164
@RebelLion420 @jasonmerc ,
I double confirmed that the kernel code of our Perry project is complete and can be compiled. Which version do you get and the compilation failed?
I suggest that you can get the corresponding version compile instructions from the following URL：
https://github.com/MotorolaMobilityLLC/readme
e.g.
For MMI-NPQ26.69-41:
https://github.com/MotorolaMobilityLLC/readme/blob/maste

[2018-09-20 21:33] charleseb commented on #168
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPXS27.109-34-13

[2018-09-20 21:33] #168 closed, assigned to nobody

[2018-09-21 11:24] CheckYourScreen commented on #169
@awheeler-mmi @charleseb @chenyt9 any update on this?

[2018-09-21 12:23] charleseb commented on #169
Hi all,

We are starting the process to release this version. That will be available by next week.

Thanks,
Charles

[2018-09-21 13:17] charleseb commented on #170
Hi all,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2018-09-22 01:49] RebelLion420 commented on #164
@chenyt9
I actually found the proper instructions thanks to @nathanchance and got it to compile correctly after adding in the f2fs files and generating the defconfig. I'm closing this issue now than, thanks

[2018-09-22 01:49] #164 closed, assigned to nobody

[2018-09-22 20:43] Dark98 commented on #170
@charleseb thank you! Is there anyway to download stock firmware packages for this device?

[2018-09-26 21:28] charleseb commented on #159
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.85-13

[2018-09-26 21:28] #159 closed, assigned to nobody

[2018-09-29 02:04] thuytrinh opened #172 "What's the bluetooth stack being shipped on MMI-MPJ24.139?"
I'm just wondering whether the bluetooth stack being shipped (or used) on [MMI-MPJ24.139](https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-MPJ24.139) is [bluez](https://android.googlesource.com/platform/external/bluetooth/bluez/) or [bluedroid](https://android.googlesource.com/platform/external/bluetooth/bluedroid/)? I'm investigating a strange issue with bluetooth LE on a Moto G

[2018-09-29 22:41] rahulsnair opened #173 "Request kernel source of tag OPW27.113-89 for Moto G6 Plus (evert)"
Hi @charleseb @chenyt9 ,

Could you please release the kernel source for moto g6 plus (Evert) with tag OPW27.113-89?

Regards,
Rahul

[2018-10-01 06:37] HidingCherry commented on #161
Thank you for ignoring my request.
I'm closing this now.

[2018-10-01 06:37] #161 closed, assigned to nobody

[2018-10-01 06:38] HidingCherry commented on #160
Thank you for ignoring my request.
I'm closing this now.

[2018-10-01 06:38] #160 closed, assigned to nobody

[2018-10-05 19:43] ezxpro opened #174 "Request for OPP.28-85-16 Cedric Kernel sources"
It would be very nice if we had the kernel source code for the stable Oreo.
Thanks

[2018-10-07 07:56] faiyazsheth opened #175 "Kernel source release for chef_sprout build OPT28.81-39"
Hi,

Can we have a kernel source release for Motorola one power code named as chef_sprout for OPT28.81-39 build please? @charleseb

Thanks.

[2018-10-08 03:47] shamith16 commented on #175
Wew

On Sun, 7 Oct, 2018, 1:26 PM faiyazsheth, <notifications@github.com> wrote:

[2018-10-08 16:41] pmwray commented on #170
Is this available yet?

[2018-10-08 19:17] charleseb commented on #170
Hi all,

I'm still working on this version. Sorry about the delay. I think it will  be released this week,\.

Charles

[2018-10-08 19:40] ezxpro commented on #174
@chenyt9 @awheeler-mmi @charleseb

[2018-10-09 03:15] chenyt9 commented on #170
@Dark98 @pmwray ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPG28.54-19
Thanks.

[2018-10-09 03:15] #170 closed, assigned to nobody

[2018-10-11 00:54] chenyt9 commented on #173
@rahulsnair ，
I am preparing for the release of this version, but it will take some time because the process we have to do is not yet complete. Please wait patiently, I will release it ASAP. Thank you!
BRs.
chenyt9

[2018-10-11 02:23] chenyt9 commented on #174
@ezxpro ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPP28.85-16
Thanks.

[2018-10-11 02:23] #174 closed, assigned to nobody

[2018-10-11 09:16] kraatus90 opened #176 "Request for OPWS28.46-21-12 PAYTON_FI (moto x4) kernel sources"
Can we have monthly kernel updates according to security patches please ?

[2018-10-11 12:42] ezxpro commented on #174
Many a thanks

[2018-10-12 01:01] chenyt9 commented on #173
@rahulsnair ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPW27.113-89
Thanks.

[2018-10-12 01:01] #173 closed, assigned to nobody

[2018-10-12 01:34] CheckYourScreen commented on #169
Hi @charleseb @chenyt9 ,
Still waiting for that "next week" since weeks..
My week has only 7 days, dont know about moto's calendar.. *smh*

[2018-10-12 07:55] chenyt9 commented on #155
@CheckYourScreen
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.65-14
Thanks.

[2018-10-12 07:57] chenyt9 commented on #169
@Keertesh19 @CheckYourScreen @shetty07，
We have a process to follow before to release a version to Github. the job is in the process, we need a few days to prepare, I'm still working to release this version.
Currently, another version -- OPS28.65-14 has been released, please get the code for this version, we will release the OPS28.65-36 version ASAP.
OPS28.65-14: https://github.com/MotorolaMobilit

[2018-10-12 08:20] CheckYourScreen commented on #155
Thanks @chenyt9

[2018-10-12 16:19] kraatus90 commented on #176
@charleseb

[2018-10-13 13:34] awheeler-mmi commented on #176
Hey @kraatus90, we're getting the releases out as soon as possible.   A number of open-source-release reviews just want across my (virtual) desk.  I don't recall if this payton release was one of them, but @charlesb will respond with an ETA next week.

FYI, we prioritize the tags that developers are asking for, so your formal requests here on Github help!!!

[2018-10-13 13:45] awheeler-mmi commented on #132
Hey @iamDmon, sorry for the delay.  We don't release the blankflash images for our devices.  If your phone is stuck in blankflash mode then I recommend contacting [support](https://support.motorola.com).
I hope you have already gotten past this issue!!

[2018-10-13 13:45] #132 closed, assigned to nobody

[2018-10-13 13:59] awheeler-mmi commented on #172
Hey @thuytrinh, are you asking about athene?  I believe athene was using the CAF bluetooth stack, rather than bluez or bluedroid.  I can double-check with our Bluetooth team next week.

[2018-10-13 13:59] #163 closed, assigned to nobody

[2018-10-13 19:25] SyNtheticNightmar3 opened #177 "Request for OPPS27.91-35-3 (Moto G6 Play) kernel source"
May you release this?

Thanks!

[2018-10-15 20:22] charleseb commented on #169
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.65-36

[2018-10-15 20:22] #169 closed, assigned to nobody

[2018-10-16 01:42] TheStrechh opened #178 "Moto E5 (source)"
any news about source for nora? actually use ali kernel with defconfig taked from stock boot.img but not boot... need push some changes on dts?

[2018-10-16 01:46] ghost commented on #178
This request is of extreme necessity for developers!

[2018-10-16 02:09] ezxpro opened #179 "NPPS25.137-93-2-5 Cedric Kernel Sources request"
it'd be very nice if we could have the source code for the latest nougat build.
Thanks in advance.

@charleseb @chenyt9

[2018-10-17 17:26] faiyazsheth commented on #175
Any update please? @chenyt9 @charleseb

[2018-10-17 19:22] thuytrinh commented on #172
@awheeler-mmi I was dealing with [Bluetooth low energy](https://developer.android.com/guide/topics/connectivity/bluetooth-le).

[2018-10-18 13:05] charleseb commented on #176
Hi @kraatus90,

This version will be released by Tuesday.

Thanks,
Charles

[2018-10-18 19:59] charleseb commented on #179
Hi @ezxpro,

We are working to release this version. It will be released by next week.

[2018-10-18 20:32] charleseb commented on #175
Hi all,

We are working to release this version. It will be released by next week.

[2018-10-18 21:00] charleseb commented on #178
Hi @TheStrechh,

Could you describe the version you need, please?

Thanks

[2018-10-18 21:26] charleseb commented on #177
Hi @SyNtheticNightmar3,

We are working to release this version. It will be released by next week.

[2018-10-20 05:29] chrisvrose opened #180 "Request for OPP27.91-122 ahannah (Moto E5 Plus Indian) Kernel source"
Is it possible to release this version?

[2018-10-20 20:21] TheStrechh commented on #178
@charleseb OPS27.91-72 if you can I do not know if there is a more recent

[2018-10-20 20:23] TheStrechh commented on #180
use kernel ali, only follow instruccions motorola for get defconfig ahannah

[2018-10-20 23:33] ghost commented on #178
@charleseb update OPP27.91-146, compilation without errors, however, device does not start.

[2018-10-23 20:50] charleseb commented on #176
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPWS28.46-21-12

[2018-10-23 20:50] #176 closed, assigned to nobody

[2018-10-27 02:10] Jleeblanch opened #181 "Moto G6 kernel source for tag OPS27.104-92"
Hey @charleseb and @chenyt9

Could you release the kernel source for Moto G6 (XT1925-6) with tag OPS27.104-92?

I would greatly appreciate it, thank you.

[2018-10-28 17:14] spookykat commented on #175
@charleseb Kernel reminder. Just in case you guys forgot, like you did with the October security patch.

[2018-10-28 18:11] charleseb commented on #175
Hi @spookykat,

I'm still working on this version. It will be released asap.

Thanks,
Charles

[2018-10-30 13:15] ezxpro opened #182 "Compilation fails because I can't disable kernel modules signature (CONFIG_MODULE_SIG).ed"
I tried with several toolchains, always get the same error
[code]
EDIT:
I found out what's causing the problem, but can't sort it out.
I grabbed the proper defconfig file `arch/arm/configs`. The .config file generate afterwards has a pair of troublesome flags:
`CONFIG_SYSTEM_TRUSTED_KEYS`
`CONFIG_MODULE_SIG_KEY`
 These flags (or one of them, can't remember right now because I'm on my smartphoe) po

[2018-10-30 13:46] charleseb commented on #177
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS27.91-35-3

[2018-10-30 13:46] #177 closed, assigned to nobody

[2018-10-30 20:00] ezxpro commented on #179
@charleseb any progress?

[2018-10-30 20:02] ezxpro commented on #182
@jwylder1 @awheeler-mmi @charleseb @motorolamobility @chenyt9

[2018-10-30 20:07] fernandobouchet commented on #182
Where or how did you get the defconfig to build? You follow moto's readme? For wich device are you building?

[2018-10-30 20:12] ezxpro commented on #182
I'm building for Cedric (Moto g5) and the defcinfig I'm using is the one found in the source code's subdirectory arch/arm/configs/.
The only Readme that comes with the source code, as far as I know, is equal to upstream Linux's Readme, so it tells me nothing very useful.

[2018-10-30 20:45] fernandobouchet commented on #182
You need your device specific defconfig, take a look at this instructions:

https://github.com/MotorolaMobilityLLC/readme/commit/3ac266c5903a5d9cf587838f4c87dbe0e52b01f4#diff-781FE8D88FF07846C93CB02CED5496AE

You can also extract the defconfig from stock boot.img

https://github.com/MotorolaMobilityLLC/kernel-msm/issues/73#issuecomment-228717810

[2018-10-30 21:19] ezxpro commented on #182
@attack11 ok, I'll try that asap

[2018-10-31 14:38] charleseb commented on #179
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPPS25.137-93-2-5

[2018-10-31 14:38] #179 closed, assigned to nobody

[2018-10-31 16:38] ezxpro commented on #182
@attack11 can't compile using that either. I'll ask for an updated readme file, the one you provided is wrong (it links some potter files into the defconfig, or it is for potter I guess) and the other one available for Cedric didn't achieve compilation of the latest kernel

[2018-11-01 17:53] charleseb commented on #175
Version released:
 https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPT28.81-39

[2018-11-01 17:53] #175 closed, assigned to nobody

[2018-11-01 18:06] charleseb commented on #181
Hi @Jleeblanch,

We are working to release this version.
It will be released by next week.

Thanks,
Charles

[2018-11-01 18:15] charleseb commented on #180
Hi @chrisvrose,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2018-11-01 20:37] charleseb commented on #178
We are working to release OPP27.91-146.
It will be released by next week.

Thanks,
Charles

[2018-11-03 19:12] Jleeblanch commented on #181
@charleseb Thank you for the heads up 👍

[2018-11-04 01:29] ghost commented on #178
@charleseb Thanks.

[2018-11-08 22:52] Uzephi opened #183 "Messi kernel source: ODX28.66-18"
Can we please get kernel source for the Z3 - Messi? ODX28.66-18

[2018-11-09 12:08] Jleeblanch commented on #182
@ezxpro If your running the stock firmware which has the kernel version your trying to build, you can pull the defconfig used from the device itself (located at **/proc/config.gz**).

It also appears that they released an updated readme file for the Moto G5 (Cedric) a day or so after your comments
https://github.com/MotorolaMobilityLLC/readme/commit/93d1eafd09250bb1df7b7b88c589679eec9b656f

[2018-11-09 12:54] ezxpro commented on #182
@Jleeblanch thanks, I managed to pull the defconfig from the location you informed (my device is on stock firmware, which has the same kernel version I intended to compile) and successfully compiled the kernel, but besides the zImage generated after compilation, I get 5 small dtb files (each sized about 220k, whereas the one packed in the boot image has about 1MB). Phone now gets stuck on boot scr

[2018-11-09 13:06] fernandobouchet commented on #182
@ezxpro you need to recreate the dtb with the dtb binary

https://github.com/xiaolu/mkbootimg_tools

But if you use anykernel to flash the kernel it "should" work or at least boot without the dtb,You are flashing in the correct partition?

[2018-11-09 13:56] ezxpro commented on #182
@attack11 with anykernel I managed to boot the system, but it asked to decrypt data partition (partition was not encrypted before).
I tried then formatting the partition, but upon doing it also gets stuck on bootlogo , and yes, I'm sure I'm flashing the correct partition since I used another Moto G5 kernel zip file as a template

[2018-11-09 14:12] artem commented on #182
@ezxpro

it's intended, `make oldconfig` automatically generates full defconfig from minified one

[2018-11-09 14:16] fernandobouchet commented on #182
@ezxpro , I saw your sources, Why dont you cloned the repo? You are missing there all commits history,You need to revert this commit:  https://github.com/MotorolaMobilityLLC/kernel-msm/commit/120b471489be6b832ee7a402e0027bb81c9e8c40

[2018-11-09 14:38] ezxpro commented on #182
@attack11 I work from various computers so I have to clone this repo a lot. That's the reason I didn't clone the entire repo, I just initialized a new repo using the source code provided for my specific device. I'll also take a look into this commit, thanks.

[2018-11-09 16:29] Jleeblanch commented on #182
@ezxpro As @attack11 mentioned, you need to disable verity on the **/system** and/or **/vendor** partitions before it'll boot. You can revert the commit he pointed out, or simply remove the verify flag in the dtsi file(s) relating to your specific device. Either way will work.

Also, unless you plan to generate a full boot.img, you don't need to do any more with the dtb files after compiling has c

[2018-11-09 20:04] charleseb commented on #180
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPP27.91-122

[2018-11-09 20:04] #180 closed, assigned to nobody

[2018-11-09 20:27] charleseb commented on #178
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPP27.91-146

[2018-11-09 20:27] #178 closed, assigned to nobody

[2018-11-09 20:54] charleseb commented on #181
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS27.104-92

[2018-11-09 20:54] #181 closed, assigned to nobody

[2018-11-11 16:57] matiascx89 opened #184 "Kernel source Z3 OCX28.39-28"
Good day, is it possible to have kernel source for Moto Z3 (messi) OCX28.39-28?

It's chinese version of Z3 (XT1929-15)

Thanks!

[2018-11-13 12:38] charleseb commented on #183
Hi @Uzephi,

We are working to release this version. It will be released by Tuesday.

Thanks,
Charles

[2018-11-13 12:41] charleseb commented on #184
Hi @matiascx89 ,

We are working to release this version.
It will be released by Tuesday.

Thanks,
Charles

[2018-11-13 13:19] matiascx89 commented on #184
Many thanks @charleseb !

[2018-11-16 06:56] hermesthecat opened #185 "release for MOTO Z OPL27.76-71-2-3"
can you release OPL27.76-71-2-3 for
kernel source,
vendor-qcom-opensource-wlan-qcacld-2.0,
motorola-external-greybus,
motorola-external-v4l2_hal ?

thanks in advance.

[2018-11-16 20:42] charleseb commented on #185
Hi @abazad,

We are working to release this version.
It will be available by next week.

Thanks,
Charles

[2018-11-17 05:49] faiyazsheth opened #186 "Kernel source release for chef_sprout build PPT29.74-25"
Hi,

Can we have a kernel source release for Motorola one power code named as chef_sprout for PPT29.74-25 build please? @charleseb

Thanks.

[2018-11-17 19:29] thuytrinh commented on #172
Sorry, I think my question was quite misleading.

[2018-11-17 19:29] #172 closed, assigned to nobody

[2018-11-17 19:32] ezxpro commented on #182
@attack11 @Jleeblanch I successfully compiled it using motorola's instructions by commenting out the gcc-wrapper.py from the makefile AND concatenating the used configs myself (their perls script has broken syntax)
Now I have to see if it boots.

[2018-11-18 00:58] ezxpro opened #187 "Kernel source for OPPS28.85-16-2 Cedric"
We'd be very glad if the source code for this version and the readme were released.

Thanks in advance
@charleseb

[2018-11-18 00:59] ezxpro commented on #182
Worked like a charm, now let's customize it :smile:

[2018-11-18 01:06] ezxpro commented on #182
@ab123321 thanks for pointing that out.
Just  a few remarks, before expanding the defconfig to the full one, it must be renamed to .config and must be within the kernel's root directory. Then you should first issue
`make defoldconfig`  And just then `make oldconfig` . Issuing make oldconfig directly will generate an entirely new (and empty) defconfig.

[2018-11-22 13:40] charleseb commented on #186
Hi @faiyazsheth,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2018-11-23 16:13] charleseb commented on #187
HI @ezxpro,

We are working to release this version.
It will be released by next week.

Thanks,
Charles

[2018-11-24 16:59] Jleeblanch opened #188 "Moto Z3 Play kernel source for tag OPWS28.70-31-2"
Hey @charleseb and @chenyt9,

When you get a chance, can you please release the kernel source for tag **OPWS28.70-31-2** for the Moto Z3 Play (beckham)?

Thank you,
Joshua

[2018-11-27 15:46] charleseb commented on #188
Hi @Jleeblanch,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2018-11-30 15:33] charleseb commented on #185
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPL27.76-71-2-3

[2018-11-30 15:33] #185 closed, assigned to nobody

[2018-11-30 17:12] charleseb commented on #183
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-ODX28.66-18

[2018-11-30 17:12] #183 closed, assigned to nobody

[2018-11-30 17:26] charleseb commented on #184
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCX28.39-28

[2018-11-30 17:26] #184 closed, assigned to nobody

[2018-11-30 18:37] charleseb commented on #187
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS28.85-16-2

[2018-11-30 18:37] #187 closed, assigned to nobody

[2018-12-01 08:40] wiktorek140 opened #189 "Kernel source for montana on build OPPS28.65-37-2-2"
As in title, we will appreciate if source and readme for montana will be published.
Best regards
Wiktor

@charleseb

[2018-12-01 15:28] erfanoabdi opened #190 "motorola one "deen" - PPK29.68-16-8 Kernel Sources"
Hi @charleseb @chenyt9 @awheeler-mmi

Blur Version: Blur_Version.29.21.11.deen.retail.en.US

Could you provide the corresponding source ?

Thanks in advance!

[2018-12-01 16:19] erfanoabdi opened #191 "Moto X4 "payton" - PPW29.69-26 Kernel Sources"
Hi @charleseb @chenyt9 @awheeler-mmi

Blur Version: Blur_Version.29.11.36.payton.retail.en.US

Could you provide the corresponding source ?

Thanks in advance!

[2018-12-01 16:20] erfanoabdi commented on #186
Blur Version: Blur_Version.29.11.26.chef.retail.en.US

just in case ;)

[2018-12-05 20:23] charleseb commented on #188
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPWS28.70-31-2

[2018-12-05 20:23] #188 closed, assigned to nobody

[2018-12-06 02:27] charleseb commented on #186
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPT29.74-25

[2018-12-06 02:27] #186 closed, assigned to nobody

[2018-12-06 02:35] charleseb commented on #189
Hi @wiktorek140,

We are working to release this version. This will be available by next week.

Thanks,
Charles

[2018-12-06 02:42] charleseb commented on #190
Hi @erfanoabdi,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2018-12-06 02:48] charleseb commented on #191
Hi @erfanoabdi,

We are working to release this version. It will be available by next week.

Thanks,
Charkes

[2018-12-08 10:59] Schuby opened #192 "USB SoundCard Failing to Turn on"
Same as #134 and #160

I've got the following DAC and it's exhibiting the same behaviour, as previously outlined by Loader006, on my Moto Z (XT1650-03).
https://hifimediy.com/DACs/ready-made-dacs/Sabre-9018-DAC

A fix was mentioned in #134 but has still not been delivered.

I've attached a dmesg output which was recorded when the DAC failed to turn on upon plugging it in.
[fail.txt](https://github

[2018-12-14 15:02] charleseb commented on #189
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS28.65-37-2
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-OPPS28.65-37-2.txt

[2018-12-14 15:02] #189 closed, assigned to nobody

[2018-12-16 15:00] thejsa opened #193 "Kernel source for G4 Plus (athene) OPJ28.108"
Hey @charleseb and @chenyt9,
Would it be possible to update the kernel source for athene build OPJ28.108?
Thanks in advance.

[2018-12-17 15:06] charleseb commented on #191
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPW29.69-26

[2018-12-17 15:06] #191 closed, assigned to nobody

[2018-12-17 18:02] charleseb commented on #190
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPK29.68-16-8

[2018-12-17 18:02] #190 closed, assigned to nobody

[2018-12-18 12:35] rajatgupta1998 commented on #193
That was a soak test build. Haven't seen moto release kernel sources of such leaked builds. I'd rather wait for the public release. Anyways, let's see it is upto them. 👍 👍

[2018-12-23 01:58] ghost opened #194 "Many bugs during kernel compilation Moto E5"
I'm trying to compile the latest version of the kernel source from Moto E5 daughter-in-law MMI-OPP27.91-146, I'm having a lot of problems during compilation.

`amaterasu@fox:~/Downloads/msm-MMI-OPP27.91-146$ make -j5
scripts/kconfig/conf  --silentoldconfig Kconfig
drivers/input/touchscreen/nova_mmi/Kconfig:4:warning: ignoring type redefinition of 'TOUCHSCREEN_NT36xxx' from 'tristate' to 'boolean'

[2018-12-23 15:36] Play4NoobWin commented on #194
I have same error, I did not try, but you can, try adding a generic f2fs support

[2018-12-23 16:31] fernandobouchet commented on #194
You need moto f2fs drivers, https://github.com/MotorolaMobilityLLC/motorola-kernel

[2018-12-23 17:49] FoxGoddess commented on #194
I am now having the following errors

`amaterasu@fox:~/Downloads/kernel-msm-MMI-OPP27.91-146$ make -j5
scripts/kconfig/conf  --silentoldconfig Kconfig
drivers/input/touchscreen/nova_mmi/Kconfig:4:warning: ignoring type redefinition of 'TOUCHSCREEN_NT36xxx' from 'tristate' to 'boolean'
  CHK     include/config/kernel.release
  WRAP    arch/arm/include/generated/asm/bitsperlong.h
  WRAP    arch/arm/

[2018-12-23 18:03] ghost commented on #194
I am now having the following errors

`amaterasu@fox:~/Downloads/kernel-msm-MMI-OPP27.91-146$ make -j5
scripts/kconfig/conf  --silentoldconfig Kconfig
drivers/input/touchscreen/nova_mmi/Kconfig:4:warning: ignoring type redefinition of 'TOUCHSCREEN_NT36xxx' from 'tristate' to 'boolean'
  CHK     include/config/kernel.release
  WRAP    arch/arm/include/generated/asm/bitsperlong.h
  WRAP    arch/arm/

[2018-12-23 18:44] fernandobouchet commented on #194
https://github.com/boulzordev/android_kernel_motorola_msm8953/commit/ef57d528200f0882b246989fc538a2f2b9d7485e

[2018-12-23 21:47] ghost commented on #194
the same error bro, already tried everything. help

[2018-12-24 17:42] fernandobouchet commented on #194
What commands do you use to build?

[2018-12-24 18:22] ghost commented on #194
export CROSS_COMPILE=arm-eabi-4.8/bin/arm-eabi-
export ARCH=arm
make nora_defconfig
make -j4

[2018-12-24 21:25] fernandobouchet commented on #194
You need to specify an "out" folder in new caf kernels

mkdir -p out
make O=out clean
make O=out mrproper
make O=out <defconfig_name>
make O=out -j$(nproc --all)

You extracted defconfig from stock Kernel?

[2018-12-24 23:57] ghost commented on #194
yes, extracted from kernel stock MMI-OPP27.91-146

[2018-12-24 23:57] ghost commented on #194
same problem bro, not working.

[2018-12-29 00:37] #194 closed, assigned to nobody

[2019-01-06 16:57] tansly commented on #193
As per GPL, aren't they obliged to release the source if someone (that obtained the build in legal ways) requests it? Even if it's a test build, isn't it distributed to some customers?

[2019-01-07 19:53] Dybios opened #195 "Request for OPS28.65-36-6 tag source update for sanders"
Requesting for an OPSS28.65-36-6 tag source update for sanders.

Thanks!

[2019-01-08 04:26] CheckYourScreen commented on #195
@charleseb  @awheeler-mmi @chenyt9

[2019-01-08 15:43] rajatgupta1998 opened #196 "Kernel Source for Moto G4 Plus (athene) OPJ28.111-22"
Hi guys, now since we are finally seeing the Oreo 8.1 update (soak) being rolled out to the users, kindly release the linux kernel source as per the GPL. Nice to see Moto G4 Plus get Oreo.

Device: Moto G4 Plus athene
Build Number: OPJ28.111-12 (edit: build number OPJS28.111-22 now available as a public release)

@awheeler-mmi @charleseb @chenyt9

Hoping to see a reply soon! Thanks.

[2019-01-08 15:51] nikitsharma15 commented on #196
+1

[2019-01-08 19:05] charleseb commented on #193
Hi @thejsa and @rajatgupta1998,

We are working to release this version. It will be available by next week.

Thanks

[2019-01-09 01:11] Jleeblanch commented on #193
@charleseb I appreciate you're working towards releasing the kernel source for Oreo for athene, but I think we'd be happier to see the kernel source released for the updated build **OPJ28.111-12**.

Opened request is here: https://github.com/MotorolaMobilityLLC/kernel-msm/issues/196

[2019-01-11 18:04] loonycrd commented on #196
@awheeler-mmi @charleseb @chenyt9
Kindly also update the vendor-fci-dtvdriver (digital tv module) sources for Moto g4 plus (athene).
Oreo build version: OPJ28.111-12
Nougat build version: NPJS25.93-14-18

[2019-01-17 18:55] charleseb commented on #196
Hi @rajatgupta1998,

I'm working to release this version.

Thanks,
Charles

[2019-01-18 00:59] madbat99 opened #197 "Kernel source for Moto G6 play XT1922-7"
Can you post kernel source for Moto g6 play xt1922-7 Jeter
OCPS27.91-150-2

[2019-01-18 05:51] CheckYourScreen commented on #195
@charleseb any update on this?

[2019-01-18 19:21] charleseb commented on #193
Hi @thejsa,

Could you confirm the version you need?
I cannot see this version (OPJ28.108) as a released version even as soak test build.
I'm working to release OPJ28.111-12.

Thanks,
Charles

[2019-01-22 00:03] anoraktrend commented on #197
Also, the currently available kernel is in an unacceptably unbuildable state.

[2019-01-22 03:05] charleseb commented on #197
Hi @madbat99 and @anoraktrend,

We are working to release this version. It will be released by Friday.

Could you inform the version without conditions to build, please?

Thanks,
Charles

[2019-01-22 03:32] madbat99 commented on #197
Moto g6 play xt1922-7 Jeter
OCPS27.91-150-2

[2019-01-23 21:33] charleseb commented on #195
Hi all,

This version is already relelased.

https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.65-36

Thanks,
Charles

[2019-01-24 00:53] CheckYourScreen commented on #195
@charleseb thats OPS28.65-36 tag, not OPS28.65-36-6 (december patch).

[2019-01-24 12:27] charleseb commented on #195
Hi @CheckYourScreen,

I think you meant OPSS28.65-36-6.
This version will be available next week.

Could you reopen this issue, please?

Thanks,
Charles

[2019-01-25 17:20] ghost commented on #196
Is it also possible that you can release the camera hal source?

[2019-01-26 00:27] awheeler-mmi commented on #196
@bengris32, we are working to get the GPL-licensed code released as soon as we can.  The camera HAL, however, is proprietary code (for Lenovo as well as some of our partners), so we won't be releasing it.  Some of our camera code isn't even open to the majority of the our development staff, it's considered that IP-critical.

Thanks for your understanding.

[2019-01-26 01:10] Lyuu17 commented on #196
Thanks for responding to this, I've asked it on forums once but never got an answer. We can understand you can't release the camera code, but could you release the needed things to make it work with CAF one? Mainly "cam_intf.h" with their structs and everything.

I though almost everything was CAF-based?

[2019-01-27 11:17] thejsa commented on #193
Hi Charles, just checked and OPJ28.108 does appear to be the version I have on my phone - I will confess though I sourced it from XDA.

OPJ28.111-12 should be just fine though - thank you!

~Lauren

[2019-01-28 14:56] anoraktrend commented on #197
MMI-OPPS27.91-35-3 according to user Space Miner on XDA.

[2019-01-28 22:18] awheeler-mmi commented on #196
Hey @Lyudmila17, our camera HAL is based on CAF, but we modify the interface quite a bit to get some proprietary features added.  Just looking at cam_intf.h, I see ~58 commits on top of CAF, with about 20% additional content.  Right now this code is very-much proprietary, but I will talk to our camera lead about open-sourcing the interface/structs on new products.

[2019-01-30 04:38] Jleeblanch opened #198 "Moto G6 Plus (evert) - Kernel source for tag PPW29.116-11"
Hey @awheeler-mmi, @charleseb, and @chenyt9,

When you get a chance, can you release the kernel source for tag **PPW29.116-11** for the Moto G6 Plus (evert)?

Thank you,
Joshua

[2019-02-01 20:24] charleseb commented on #198
Hi @Jleeblanch,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-02-02 07:48] CheckYourScreen commented on #195
Hi @charleseb , any eta for OPSS28.65-36-6 tag?

[2019-02-02 07:52] Dybios commented on #195
I am not able to reopen this issue again. Will be creating a new one instead.
Thanks.

[2019-02-02 07:55] Dybios opened #199 "Request for OPSS28.65-36-6 tag source update for sanders"
Requesting for the OPS28.65-36-6 tag source update for sanders.
Thanks!

[2019-02-04 18:07] #199 closed, assigned to nobody

[2019-02-04 18:17] charleseb commented on #195
Version released.
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPSS28.65-36-6

[2019-02-04 18:17] #195 closed, assigned to nobody

[2019-02-05 13:41] archie9211 opened #200 "Kernel source release for chef_sprout build PPT29.74-29-2"
Hi,

Can we have a kernel source release for Motorola one power code named as chef_sprout for PPTS29.74-29-2 build please? @charleseb

Thanks.

[2019-02-06 17:37] charleseb commented on #197
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCPS27.91-150-2

[2019-02-06 17:37] #197 closed, assigned to nobody

[2019-02-06 17:46] charleseb commented on #200
HI @archie9211,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-02-08 21:34] therootlord opened #201 "GPL Source Request for Moto G7 Power (ocean) - (PPO29.80-27)"
Hello, could you provide the corresponding sources ?

@charleseb @chenyt9 @awheeler-mmi
Many Thanks!

[2019-02-08 23:07] Jleeblanch opened #202 "Moto G7 Plus (lake) - Kernel source for tag PPW29.98-28"
Hey, @charleseb, @chenyt9, @awheeler-mmi

When you guys get a chance, can you release the kernel source for tag **PPW29.98-28** for the Moto G7 Plus (lake).

Thank you,
Joshua.

[2019-02-09 11:28] chirayu19091997 commented on #201
yes if we can have the sources for above tag (PPO29.80-27) for device  that would be great @charleseb @chenyt9
thanks @therootlord

[2019-02-11 12:06] charleseb commented on #201
Hi @therootlord and @chirayu19091997,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-02-14 08:41] kkmfincorp commented on #200
Hi @charleseb

Waiting more than a week sir

Thanks.

[2019-02-14 11:05] charleseb commented on #200
Hi @kkmfincorp,

We are completing the process to this version. I'll release this tag in a few days.

Thanks,
Charles

[2019-02-16 16:24] DarkGrillz opened #203 "Kernel Source for Moto G⁴ Plus (athene) - OPJ28.111-22"
Now that this device is being updated to Android Oreo (Final) to the public, release the linux kernel source to start the development and improve our device.
I hope you can read me.

Beforehand thank you very much.

Device: Moto G⁴ Plus
Build Number: OPJ28.111-22

@awheeler-mmi @charleseb @chenyt9

[2019-02-19 05:01] kkmfincorp commented on #200
Hi @charleseb,

Does the process has been finished for chef_sprout build PPT29.74-29-2 #200 .
We are expecting your kind response and release tag.

Thanks,
kkmfincorp

[2019-02-20 15:26] rajatgupta1998 commented on #196
Hi @charleseb @awheeler-mmi . Any update on this? Also we're seeing the OPJ28.111-22 build rolling out to a few people. We're really eager to get the latest kernel source (and dtv, wlan drivers) for Oreo. Please make it possible ASAP. :smile:

[2019-02-20 19:04] charleseb commented on #198
Version Released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPW29.116-11

[2019-02-20 19:04] #198 closed, assigned to nobody

[2019-02-20 19:29] charleseb commented on #200
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPT29.74-29

[2019-02-20 19:29] #200 closed, assigned to nobody

[2019-02-21 18:48] charleseb commented on #201
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPO29.80-27

[2019-02-21 18:48] #201 closed, assigned to nobody

[2019-02-21 19:02] charleseb commented on #202
HI @Jleeblanch,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-02-25 02:24] amarendra1507 commented on #196
Hi, I have install an OTA which has build OPJ28.108. I want to install OPJ28.111-22, is there any way to do so ? thanks in advance.

[2019-02-27 18:25] batata004 commented on #196
@awheeler-mmi @charleseb please release it!

[2019-03-01 12:33] charleseb commented on #196
Hi @batata004,

We are working to release this version. It will be released in a few days.

Thanks,
Charles

[2019-03-02 16:49] smyaknti opened #204 "Request for kernel source of chef_sprout PPTS29.74-41 build."
Hi,

Can we have a kernel source release for Motorola one power code named as chef_sprout for PPTS29.74-41 build please? @charleseb

Thanks.

[2019-03-08 16:05] ghost opened #205 "build 64Bit kernel"
I have Motorola Nora device, and I wonder if I can compile the kernel in 64bit and make the kernel work 100% in 64bit. The default system runs in 32bit.

[2019-03-13 15:38] charleseb commented on #196
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPJ28.111-12

[2019-03-13 15:38] #196 closed, assigned to nobody

[2019-03-13 15:39] charleseb commented on #203
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPJ28.111-22

[2019-03-13 15:39] #203 closed, assigned to nobody

[2019-03-13 17:36] Lyuu17 commented on #196
@charleseb what about the commit history?

[2019-03-13 19:08] charleseb commented on #196
Hi @Lyudmila17,

$> git clone https://github.com/MotorolaMobilityLLC/kernel-msm.git
$> cd kernel-msm
$/kernel-msm> git checkout MMI-OPJ28.111-12
$/kernel-msm> git log

[2019-03-14 14:58] loonycrd commented on #196
@charleseb could you also update the prebuilt dtbtool binary, the one in readme repository from Nougat build version doesn't seem to work, kernel isn't booting with it.

[2019-03-15 18:23] charleseb commented on #196
Hi @loonycrd,
Done.
https://github.com/MotorolaMobilityLLC/readme/tree/master/dtbtool_MMI-OPJ28.111-22

[2019-03-15 18:29] #193 closed, assigned to nobody

[2019-03-19 17:15] Jleeblanch commented on #202
@charleseb just checking in on how things are looking.

[2019-03-19 17:17] charleseb commented on #202
Hi @Jleeblanch,

Sorry about the delay. It was needed to get some processes concluded before to release. I'm going to push this today.

Thanks,
Charles

[2019-03-19 17:49] Jleeblanch commented on #202
No worries @charleseb,

Thank you for the heads up

[2019-03-19 22:02] charleseb commented on #202
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPW29.98-28

[2019-03-19 22:02] #202 closed, assigned to nobody

[2019-03-21 17:46] mvaisakh commented on #205
You can if the board supports it. Moto G5 (Cedric) and also the plus variant (Potter) both have 32bit (arm) variants, but now run 64bit (arm64). You can use kernel sources linked in the xda forums to have a reference. And yes it is pretty bugless (unnoticeable bugs).

[2019-03-25 03:13] ghost commented on #205
I use a motorola e5, in xda there is no malaria talking about 64bit. Can you tell me why some motorola devices run over 32bits and some over 64bits?

[2019-03-26 12:16] mvaisakh commented on #205
Older Motorola devices run only on 32bit (I honestly don't know why), the newer devices, starting from Moto X4, are all 64bit.

[2019-03-27 06:13] jeraldott commented on #201
@charleseb Thanks for providing the source code.
Upon review however, I noticed that the kernel source code you provided does not contain the source code for the SAR sensor.

Looking at the phone directly I find 2 drivers related to sar
ocean:/ $ lsmod  | grep sar
abov_sar               40960  0
sx932x_sar             40960  0
sensors_class          20480  2 abov_sar,sx932x_sar
ocean:/ $

Inside t

[2019-03-28 13:38] charleseb commented on #201
Hi @jeraldott,

You can find the files here:
https://github.com/MotorolaMobilityLLC/motorola-kernel-modules/releases/tag/MMI-PPO29.80-27
I've missed to include this project, sorry about that.

Thanks,
Charles

[2019-03-28 14:07] jeraldott commented on #201
Hi @charleseb,
Thanks! No problem.
-jerald

[2019-03-28 21:24] JarlPenguin opened #206 "Moto G6 Play (aljeter) PPP29.55-25 - kernel source code"
Can you guys release the kernel source code for the Moto G6 Play Pie update? @charleseb

[2019-03-29 01:03] archie9211 commented on #204
@charleseb can we have an update please.
or if there are no changes in kernel source in new update, then please let us know.

[2019-03-31 06:33] loonycrd opened #207 "Moto G4 Plus (athene) - Kernel source OPJ28.111-22"
Hey @awheeler-mmi, @charleseb, and @chenyt9,

Can you update the kernel source tag for current OPJ28.111-22 official release as well as dtv module sources in vendor-fci-dtvdriver repo for the Moto G4 Plus (athene)?

Thank you,
Rohit

[2019-03-31 09:43] charleseb commented on #207
Hi @loonycrd,

We are working to release this version for both projects.

Thanks,
Charles

[2019-03-31 09:46] charleseb commented on #204
Hi @smyaknti and @archie9211,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-03-31 09:47] charleseb commented on #206
Hi @JarlPenguin,

We are working to release this version. It will be available in a few days.

Thanks,
Charles

[2019-04-01 14:10] charleseb commented on #207
Hi @loonycrd,

You can find vendor-fci-dtvdriver artifacts here: https://github.com/MotorolaMobilityLLC/vendor-fci-dtvdriver/releases/tag/MMI-OPJ28.111-12

Thanks,
Charles

[2019-04-01 14:20] charleseb commented on #207
We are working to release the version OPJ28.111-22. It will be released in a few days.

Thanks,
Charles

[2019-04-02 02:24] Jleeblanch opened #208 "Moto Z3 Play (beckham) - Kernel source for tag PPW29.131-27-1"
Hey @charleseb

When you get a chance, can you release the kernel source for tag PPW29.131-27-1 for the Moto Z3 Play (beckham)?

Thank you,
Joshua

[2019-04-02 02:27] Jleeblanch opened #209 "Moto G6 (ali) - Kernel source for tag PPS29.55-24"
Hey @charleseb

When you get a chance, can you release the kernel source for tag PPS29.55-24 for the Moto G6 (ali)?

Thank you,
Joshua

[2019-04-02 20:04] charleseb commented on #208
Hi @Jleeblanch,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-04-02 20:07] charleseb commented on #209
HI @Jleeblanch,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-04-09 20:31] wh0dat opened #210 "Moto E5 PLUS - [RHannah/xt1924-4] kernel source"
Ignore

[2019-04-09 20:42] yourordinarycat commented on #210
Hi there! Can Motorola publish a Kernel for Rhannah? (Obviously working) The one provided didn't boot on Rhannah, but it worked fine on other variants (like hannah_t and ahannah).

Thanks in advance for your help.
By: GodcraftPlata.

[2019-04-10 04:11] loonycrd commented on #207
@charleseb any update on this?

[2019-04-12 20:01] charleseb commented on #207
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPJ28.111-22

[2019-04-12 20:01] #207 closed, assigned to nobody

[2019-04-14 18:10] lucaasteixeira commented on #203
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPJ28.111-22

[2019-04-15 14:05] no-identd commented on #201
Please, can you also release, for the same device line (i.e. ocean/XT1955-*):

PPO29.71-34
PPO29.80-14
PPO29.114-30

?

(I can also open new issues for each of these, if you like.)

[2019-04-18 13:56] Anush02198 commented on #204
Hi,

Can we have a kernel source release for Motorola one power code named as chef_sprout for PPT29.74-41-2 build please? @charleseb . Also one more request there is an big issue of incompatibility of ims in source please do make it compatible for better usability or if u have other solution for that also will be fine @charleseb

Thanks.

[2019-04-19 12:48] awheeler-mmi commented on #204
Hey @Anush12133,

What do you mean by IMS incompatibility? Our IMS stack is closed-source, but I would not expect a recompile of the kernel to  break compatibility with the IMS stack. Let me know what you're looking for.

Thanks,

-andrew

[2019-04-19 12:50] Anush02198 commented on #204
@awheeler-mini I didn't mean kernel source broke ims stack or something ...

[2019-04-19 12:51] Anush02198 commented on #204
I just asked when is PPT29.74-41-2 kernel Source update releasing. Ims was a different question

[2019-04-19 12:54] Anush02198 commented on #204
I need ims stuff which Chef uses.Also it's way different than older Moto devices ims

[2019-04-19 13:24] awheeler-mmi commented on #204
Gotcha.  Yeah, @charleseb is working on the kernel release so we should release it soon.  Note it's a holiday here, so give us until next week.

Many of our newer devices use a third-party IMS stack, instead of the QCOM stack, so that may explain the differences you are noticing.

[2019-04-19 13:27] Anush02198 commented on #204
I would wish moto to make ims stack open too as it's becoming difficult for us adapt things for making VOLTE properly function

[2019-04-19 13:29] luk1337 commented on #204
That's interesting, do you have qcom devices using third party IMS implementations as well?

[2019-04-19 13:34] awheeler-mmi commented on #204
@Anush12133 Gotcha, and, yeah, that would be tricky.  Our IMS stacks are third-party and our licenses very much restrict our ability to share the code.  We don't even have access to all the source.

One major AOSP gap is IMS, and it forces all manufacturers to either use third-party solutions, or roll their own.  It would be great if Google open-sourced a production-quality stack.  I suspect that

[2019-04-19 13:38] Anush02198 commented on #204
Are u using CAF IMS stack as CAF dailer and CAF  device/sepolicy did made a change and VOLTE enabled partially

[2019-04-19 13:42] Anush02198 commented on #204
I was able to receive calls and send SMS on Volte

[2019-04-19 14:20] awheeler-mmi commented on #204
After some looking, I believe that our QCOM products are still using the IMS framework, but we call out to 3rd parties for some IMS features like RCS, etc.  I am not sure how much our IMS stack depends on these non-QC 3rd party components for basic functionality.  But QCOM releases their IMS framework to us as mostly pre-built, proprietary binaries.  Which CAF IMS components are you referring to?

[2019-04-19 15:13] Anush02198 commented on #204
I just reffered the ims part which is integrated in dialer app

[2019-04-19 17:25] Anush02198 commented on #204
And the modem Chef_sprout uses is a M636 which is specific modem by Qcomm for SDM636

[2019-04-19 19:50] awheeler-mmi commented on #204
Oh, gotcha.  Yeah, the dialer for your build looks to be "ours", but it's not open-sourced.  (For other builds we use the GMS Dialer, which closed-sourced to us).  I will let our Dialer team lead know that customers are interested in us open-sourcing it!

[2019-04-19 19:54] Anush02198 commented on #204
I will be happy to see  Motorola making it open source . It will help devs like us a lot .. Hoping it will be soon :) . Thanks in advance Motorola :)

[2019-04-19 19:55] Anush02198 commented on #204
No the dailer I used was directly from CAF

[2019-04-19 19:57] awheeler-mmi commented on #204
Oops, the Dialer lead just let me know that all Android One targets are using the GMS dialer, which is closed-source.

[2019-04-19 20:01] Anush02198 commented on #204
Can any of your team member guide us through it for fixing it would be great for us :).. We have proper logs for it too @awheeler-mmi .. To solve our doubts and queries regarding same

[2019-04-19 20:08] awheeler-mmi commented on #204
No, sorry.  We are happy to see customers hack our devices, but we can't do much to assist with it -- particularly in cases where we have disabled functionality due to carrier requirements.

[2019-04-19 20:11] Anush02198 commented on #204
Currently I m referring CAF Dailer commits also device/sepolicy commits of CAF

[2019-04-19 20:12] Anush02198 commented on #204
It's OK. But just hints will do

[2019-04-19 20:15] awheeler-mmi commented on #204
We don't use the CAF dialer for any builds, so I'm not sure where to point you.

[2019-04-19 20:20] Anush02198 commented on #204
I will try to explain situation so that you can try pointing .What I did is I used dailer and device/sepolicy from CAF. Which with stock ims.apk gave me partial VOLTE (I can send SMS and I am able to receive calls on VOLTE) But unable to call nor Receive SMS(SMS receives but very rarely) . IMS gets registered for some cases asper logs and after that simply gets to Unregistered state

[2019-04-20 12:42] awheeler-mmi commented on #204
Gotcha.  I am surprised this combination is working at all.  Most of these features are controlled via the framework, not so much the app. Maybe the kind folks at XDA could help.

[2019-04-22 14:11] Hasaber8 commented on #204
Just give us some fix to get volte working.

[2019-04-22 14:37] awheeler-mmi commented on #204
@Hasaber8 we definitely don't have any fix for the dialer/ims combination mentioned.  But before enabling volte for a specific carrier we need to comply with a number of carrier requirements, including extensive testing.  We can't release hacks to essentially bypass the carrier compliance requirements.

[2019-04-22 14:56] Hasaber8 commented on #204
You cant but you can guide us to do it.

[2019-04-22 15:04] awheeler-mmi commented on #204
If we had guidance and we were able to share it, we would!  We do help with build/boot issues, and are happy to see folks hacking our products (for good, not black-hat stuff).  But we really are not in a good position to help bypass carrier requirements.

[2019-04-22 15:06] Hasaber8 commented on #204
Not just one carrier, all infact. Allmost 80% carrier have volte, just saying you can help us with the apk and stuff, not just configs

[2019-04-22 15:08] awheeler-mmi commented on #204
But if you install/use GMS dialer then VoLTE works, right?

[2019-04-22 15:10] Hasaber8 commented on #204
NA, not fully, just sms,
We want to get working fully

[2019-04-22 15:11] smyaknti commented on #204
Adding to the stuff he said. IMS is registered and incoming calls give the ringing tone for the caller, but not for the receiver, the device just stays there with no response. Hence I suspect the carrier side is fine, we are not able to get IMS calls working on the device end. As stock has VoLTE calls working fine, we are asking for any specific patches if they are being used which we are missing.

[2019-04-22 15:14] awheeler-mmi commented on #204
Gotcha, but the stock build uses the GMS dialer.  Perhaps you could try the Moto dialer from a chef (retail) build, rather than the GMS dialer from a chef_sprout (Android One) build.

[2019-04-22 15:15] Hasaber8 commented on #204
Hmmm, we will try the dialer but I still feel its the problem with ims.apk. But we will keep you updated.

[2019-04-22 15:15] smyaknti commented on #204
Okay, we shall try a full set of stock apps and see. We may have missed some important apps last time because the baseband went unknown and SIM cards weren't detected. Hopefully we dont mess up this time. Any precautions will be helpful.

[2019-04-22 15:16] Hasaber8 commented on #204
If you dont mind could you look in our commits once and check if updated blobs properly?

[2019-04-22 15:17] awheeler-mmi commented on #204
Where are your commits?

[2019-04-22 15:20] Hasaber8 commented on #204
pie-dev brach for device-tree and vendor-tree
https://github.com/Chef-Sprout/android_vendor_motorola_chef/tree/pie-dev

https://github.com/Chef-Sprout/android_device_motorola_chef/tree/pie-dev
lineage-16.0 for kernel
https://github.com/Chef-Sprout/android_kernel_motorola_chef

[2019-04-22 15:20] awheeler-mmi commented on #204
Also, maybe try the AOSP dialer.  Our dialer is closer to AOSP than CAF.

[2019-04-22 15:21] Hasaber8 commented on #204
We will just check our commits once and tell what are we missing.

[2019-04-22 15:30] awheeler-mmi commented on #204
Hmm... I looked, and it's just a bunch of binaries to me.  I'll ask the Telephony guys to take a look.

[2019-04-22 15:31] Hasaber8 commented on #204
Thankyou!

[2019-04-22 19:51] Jleeblanch commented on #208
@charleseb any updates?

[2019-04-22 19:52] Jleeblanch commented on #209
@charleseb any updates on the kernel source?

[2019-04-24 17:50] awheeler-mmi commented on #209
Hi @Jleeblanch, @charleseb is on this.  He's on holiday right now, but will get to them released as soon as he is back, next week.

[2019-04-24 17:55] 100Daisy opened #211 "Motorola One (deen) - Audio Issue on Custom Rom"
Rom: RessurectionRemix v7.0.1
Device tree: www.github.com/100Daisy/android_device_motorola_deen
Stock Vendor

LOG:
W APM_AudioPolicyManager: getOutputForDevice() could not find output for stream 1, sampling rate 48000, format 0x1, channels 0x3, flags 0x4
E AudioFlinger: createTrack() getOutputForAttr() return error -38 or invalid output handle
E IAudioFlinger: createTrack returned error -38
E Audi

[2019-04-24 18:00] luk1337 commented on #211
...why do you think they care?

[2019-04-24 18:11] 100Daisy commented on #211
Maybe they not, someone other can help me

[2019-04-25 08:45] Jleeblanch commented on #209
@awheeler-mmi, ok no worries. Thank you for the heads up

[2019-04-26 02:49] charleseb commented on #206
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPP29.55-25

[2019-04-26 02:49] #206 closed, assigned to nobody

[2019-04-27 06:18] wiktorek140 opened #212 "Moto G5S - OPPS28.65-37-7 tag source request"
Hi @charleseb,

As per title we waiting for source code of kernel to help community grow and to use latest security's patches.

Thanks,
Wiktor

[2019-04-28 16:01] wh0dat commented on #209
@awheeler-mmi @charleseb , any chance yall can release source for stock timeweather widget? I'd like to get this working in custom ROM on the lockscreen.
Thanks in advance!! & Sorry to ask here

[2019-04-29 11:25] RoscioZ opened #213 "G7 Plus Issues with voice sound on calls and poor line"
Audio of interlocutor disturbed with rustling and metallic voice, tried
reset, safe mode, no result.
Phone already replaced once by amazon, in addition problems of very poor line, perfect in other phones, SIM Vodafone Italia.
![Screenshot_20190429-131946](https://user-images.githubusercontent.com/18037921/56893223-3d678d00-6a82-11e9-9083-e9bdb35dac30.png)

[2019-04-29 18:25] belegdol opened #214 "Please release latest moto z force droid kernel (OCL27.76-69-6-3)"
Please may you release the kernel source for moto z force OCL27.76-69-6-3? Thank you!

[2019-04-30 02:20] charleseb commented on #210
Hi @GodcraftPlata,

Could you describe the version tag, please?

Thanks,
Charles

[2019-04-30 13:01] wh0dat commented on #210
No longer needed , thanks anyway Charles.

[2019-04-30 13:25] #210 closed, assigned to nobody

[2019-04-30 14:22] charleseb commented on #208
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPW29.131-27-1

[2019-04-30 14:22] #208 closed, assigned to nobody

[2019-05-01 02:32] charleseb commented on #209
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPS29.55-24

[2019-05-01 02:32] #209 closed, assigned to nobody

[2019-05-01 02:48] charleseb commented on #214
Hi @belegdol,

We are working to release this version. It will be released by next week.

[2019-05-02 15:23] charleseb commented on #204
Version released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPTS29.74-41-2

[2019-05-02 15:23] #204 closed, assigned to nobody

[2019-05-02 15:41] charleseb commented on #214
Version released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OCL27.76-69-6-3

[2019-05-02 15:41] #214 closed, assigned to nobody

[2019-05-04 13:38] Ristovski commented on #213
This is not a support forum. Please close this issue.

[2019-05-05 13:23] #213 closed, assigned to nobody

[2019-05-05 13:24] RoscioZ commented on #213
Hi, I know but nobody from motorola / lenovo answers on the forum, and the telephone support doesn't know how to give me indications, except to carry out the tests that I have already done!

[2019-05-08 01:57] charleseb commented on #212
Hi @wiktorek140,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-05-09 20:08] charleseb commented on #212
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS28.65-37-7-2

[2019-05-09 20:08] #212 closed, assigned to nobody

[2019-05-10 20:09] scritch007 opened #215 "Moto G7 Play (channel) - Kernel source for tag PPY29.68-28"
Hello,

Can you please release the sources for the Moto G7 Play tag **PPY29.68-28.**

Regards

Benjamin

[2019-05-11 00:32] charleseb commented on #215
Hi @scritch007,

We are working to release this version. It will be released by the next week.

Thanks,
Charles

[2019-05-16 11:42] GtrCraft opened #216 "Motorola One Vision (kane) - Kernel source for tag PSA29.97-13-9"
Hi,

Can you please release kernel source of Motorola One Vision tag PSA29.97-13-9?

[2019-05-16 12:46] awheeler-mmi commented on #216
Hey @GtrCraft, the Moto One Vision is a Samsung Exynos-based device, so we're going to create "kernel-slsi" and probably a few other new projects for this release.  I'll leave this issue open until we get the projects created, and then will re-open your request under kernel-slsi.

Give us a bit of time for this release.  We should get the new projects (at least kernel-slsi) created today, but it w

[2019-05-16 14:34] GtrCraft opened #217 "Moto G5 Plus (Potter) - Kernel source for tag OPS28.85-17-6-2"
Sorry to bother you again but can you also release the kernel source of Moto G5 Plus's tag OPS28.85-17-6-2?

[2019-05-16 14:35] awheeler-mmi commented on #216
Moving to https://github.com/MotorolaMobilityLLC/kernel-slsi/issues/1 .

[2019-05-16 14:35] #216 closed, assigned to nobody

[2019-05-21 08:55] jrtberlin commented on #215
Hi @charleseb any news on this or an ETA? I want to build TWRP for the G7 play. Thanks in advance.;D

[2019-05-22 18:38] charleseb commented on #215
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPY29.68-28

[2019-05-22 18:38] #215 closed, assigned to nobody

[2019-05-22 19:05] scritch007 commented on #215
Thanks @charleseb

[2019-05-27 17:06] Yossarian75 opened #218 "G7 (River) Kernel Source request"
Please provide the kernel source for the G7 (River). Thanks!

[2019-05-27 18:27] charleseb commented on #218
Hi @Yossarian75,

Could you describe the version you need, please?

Thanks,
Charles

[2019-05-27 18:45] charleseb commented on #217
Hi @GtrCraft,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-05-29 23:13] Jleeblanch opened #219 "Moto G7 Plus (lake) - Kernel source for tag PPWS29.98-66-2"
@charleseb

Can you please release the kernel source (and relevant sources) for tag **PPWS29.98-66-2**?

Thank you,
Joshua

[2019-06-04 19:39] charleseb commented on #217
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.85-17-6-2

[2019-06-04 19:39] #217 closed, assigned to nobody

[2019-06-05 03:24] charleseb commented on #219
Hi @Jleeblanch,

We are working to release this version. It will available by next week.

Thanks,
Charles

[2019-06-05 03:36] Uzephi opened #220 "Kernel Nash PPX29.159-19 kernel source request"
Since it is rolling out, can we get Kernel sources for Nash. Build PPX29.159-10?

[2019-06-06 13:23] Jleeblanch opened #221 "Moto Z3 Play (beckham) - Kernel source for tag PPW29.183-29-1"
@charleseb

Can you release the kernel source (and relevant sources) for tag **PPW29.183-29-1**?

Thank you,
Joshua

[2019-06-06 13:59] charleseb commented on #221
Hi @Jleeblanch,

This version is in our pipeline. It will be released by next week.

Thanks,
Charles

[2019-06-08 03:47] jbats commented on #220
Still waiting on a response for this.

[2019-06-10 16:48] charleseb commented on #219
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPWS29.98-66-2

[2019-06-10 16:48] #219 closed, assigned to nobody

[2019-06-12 21:49] npjohnson commented on #220
@charleseb @chenyt9
Hate to tag, but you all were very helpful in attaining source when Oreo dropped, just thought I'd look y'all in on the discussion (:

[2019-06-17 15:14] #205 closed, assigned to nobody

[2019-06-17 15:25] ghost opened #222 "Request from the Motorola Nora kernel source"
Hello, I was compiling the MMI-OPP27.91-146 (https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPP27.91-146) source from the Nora motorola, but this source is already very outdated and when it is compiled and installed it lags and instability. The software version is already in OPP27.91-176-8.

Thank you very much in advance ;)

[2019-06-21 12:19] Anush02198 opened #223 "VOLTE ISSUE ON CHEF IN CUSTOM ROMS"
Hi,

Can we get new ims.apk and qti-telephony which is compatible with custom roms

i have logs for it too

[BCC.txt](https://github.com/MotorolaMobilityLLC/kernel-msm/files/3314407/BCC.txt)

its being a long time we are facing such issues please do check this issue

[2019-06-21 12:38] walkerobCMT commented on #223
Hey @Anush12133, we don't currently release pre-built APKs or most of the qti-telephony components as part of our open-source releases.   I understand the request, though, and will take it up with the executive staff here in Chicago.

[2019-06-21 13:29] awheeler-mmi commented on #223
Hey @Anush12133, we don't currently release pre-built APKs or most of the qti-telephony components as part of our open-source releases. I understand the request, though, and will take it up with the executive staff here in Chicago.

[2019-06-21 13:34] Anush02198 commented on #223
Hoping for quick solution from your team ...Thanx Moto ..Hope you help the community for healthy development :)

[2019-06-24 16:03] curbthepain commented on #218
I won't open another request to be a bother but I also would like the kernel source code for the Moto g7 (river). If you want to know which kernel version to provide then go with the one from PPOS29.114-16-5-2 (that's the build number)

[2019-06-25 15:57] Uzephi commented on #220
I assume it is because they haven't finalized the kernel. We got a -19 build distributed recently. If you are fixing the kernel. Please fix the way your kernel handles rendering. com.android.test.uibench program looks horrid currently on any release of the Z2F. Below is the results on pie. It should be consistently below 0.5. I'll wait patiently if it would assist in making the kernel release bett

[2019-06-29 03:15] curbthepain opened #224 "Moto G7 XT1962-1 River Kernel"
Requesting the kernel source code for the Moto G7 River (XT1962-1). Preferably from the build PPOS29.114-16-5-2.

[2019-07-05 04:50] charleseb commented on #221
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPW29.183-29-1

[2019-07-05 04:50] #221 closed, assigned to nobody

[2019-07-07 11:00] Dybios opened #225 "Request for OPS28.65-36-11 tag source update for sanders"
Requesting for the OPS28.65-36-11 tag update for sanders (Moto G5s Plus).
Thanks!

@charleseb @awheeler-mmi @chenyt9

[2019-07-10 11:06] #218 closed, assigned to nobody

[2019-07-10 11:08] Yossarian75 opened #226 "G6 (Ali) PPSS29.55-34-1 kernel source request"
Can you please supply the PPSS29.55-34-1 kernel source? Thanks a lot.

[2019-07-10 16:09] Uzephi commented on #220
PPX29.159-19 officially went out as an OTA per our friends in Brazil. Can we please be compliant with this release since it is public and follow GPL?

This request was originally for -10 but that seems it was a soak test, so please at least give us sources for the public Pie release for Nash so we can fix the jitter issue ourselves since the device will be EOL shortly.

[2019-07-10 16:19] Uzephi commented on #220
@charleseb @chenyt9 could we get a monthly update on this request now that Pie is rolling out officially and publicly?

[2019-07-10 22:15] awheeler-mmi commented on #220
Hey @Uzephi and others, @charleseb is on vacation for the next two weeks.  In the meantime we are trying to figure out how to get this release out, given the interest in a nash P kernel. I'll keep y'all posted!

[2019-07-19 08:32] loonycrd opened #227 "Moto G4 Plus (athene) - Source updates for OPJ28.111-22-1"
Hey @awheeler-mmi, @charleseb, and @chenyt9,

Can you update the necessary sources for kernel, dtv, prima and f2fs for current OPJ28.111-22-1 official release for the Moto G4 Plus (athene)

Thank you,
Rohit

[2019-07-21 14:53] JarlPenguin opened #228 "Moto G5S (montana) OPPS28.65-37-7-6 source"
Thanks!

[2019-07-31 15:04] charleseb commented on #225
Hi @Dybios,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-07-31 15:05] charleseb commented on #224
Hi @curbthepain,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-07-31 15:05] charleseb commented on #226
Hi @Yossarian75,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-07-31 15:05] charleseb commented on #227
Hi @loonycrd,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-07-31 15:05] charleseb commented on #228
Hi @JarlPenguin,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-07-31 18:17] Dybios commented on #225
Thanks @charleseb!

[2019-07-31 20:36] Uzephi commented on #220
Any update on this? PPX-29.159-19 released in Brazil and India. We have firmware as well via LMSA tool. Can we please get the kernel sources?

License reminder
https://www.gnu.org/licenses/gpl-violation.en.html

[2019-07-31 20:40] charleseb commented on #220
Hi @Uzephi,

I'm working to release this. This version will be available by the next week.

Thanks,
Charles

[2019-07-31 20:44] Uzephi commented on #220
Thank you

[2019-08-06 00:29] JarlPenguin opened #229 "Moto G6 Play (aljeter) PPPS29.55-25-2 kernel source"
Thanks beforehand.

[2019-08-06 01:32] madbat99 opened #230 "G6 play Jeter source request PCP29.118-41"
Please post Pie kernel source for the XT1922-7 G6 play Jeter. Build number PCP29.118-41

[2019-08-06 08:58] no-identd commented on #201
Adding PPO29.114-134 to the list of requested source code releases.

[2019-08-06 09:01] no-identd opened #231 "GPL Source Request for Moto G7 Power (ocean) - (PPO29.71-34, PPO29.80-14, PPO29.114-30)"
Please provide the source code for the following tags:

PPO29.71-34
PPO29.80-14
PPO29.114-30

Thanks.

[2019-08-08 18:48] SyberHexen commented on #223
For reference this is also an issue with PIE variants on devices such as Payton, Evert, Beckham.

An AOSP compatible implementation to QTI-telephony-common.jar and ims.apk would greatly be appreciated by the community!

[2019-08-11 12:38] androidacy-user commented on #211
Not sure this is correct place for this

Contact your maintainer

[2019-08-11 12:45] #211 closed, assigned to nobody

[2019-08-15 15:55] Vachounet commented on #224
@charleseb Any news for the release ?

[2019-08-16 03:47] chenyt9 commented on #227
@loonycrd
loonycrdVersion released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPJ28.111-22-1
Thanks.

[2019-08-16 03:47] #227 closed, assigned to nobody

[2019-08-20 03:13] madbat99 commented on #230
Going to need a reply here. GPL requires it.
@charleseb

[2019-08-20 05:43] loonycrd commented on #230
@madbat99 I am not a member of MotorolaMobilityLLC. If PCP29.118-41 is an official public release then Motorola will release kernel sources. It takes time.

[2019-08-20 07:16] chenyt9 commented on #228
@JarlPenguin
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS28.65-37-7-7-6
Thanks.

[2019-08-20 07:16] #228 closed, assigned to nobody

[2019-08-21 03:22] chenyt9 commented on #225
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.65-36-11

Thanks.

[2019-08-21 03:22] #225 closed, assigned to nobody

[2019-08-21 13:28] charleseb commented on #230
Hi @madbat99,

This version is in our pipeline. It will be released in two weeks.

Thanks,
Charles

[2019-08-23 09:40] chenyt9 commented on #222
@amaterasushen
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPP27.91-176-8
Thanks.

[2019-08-23 09:40] #222 closed, assigned to nobody

[2019-08-27 14:50] charleseb commented on #226
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPSS29.55-34-1

[2019-08-27 14:50] #226 closed, assigned to nobody

[2019-08-28 19:23] charleseb commented on #220
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPX29.159-19

[2019-08-28 19:23] #220 closed, assigned to nobody

[2019-09-01 07:08] Hasaber8 opened #232 "Moto One Power Chef source request PPTS29.74-41-5-3"

[2019-09-01 22:43] ghost commented on #231
@charleseb Hi there. In the past you helped the community get kernel sources for another Motorola device, could you help us get sources for ocean as well please? XDA developers will appreciate it!

[2019-09-02 04:17] holyangel commented on #231
Could we possibly get source with the extra modules already included and build-able please?

Anyone should be able to sync the release you post and build it and everything just work. With the last ocean source release touchscreen and some other things don't work and converting the extra modules zip you released is a giant pain when building the kernel outside of rom source.

[2019-09-02 05:46] no-identd commented on #231
+1 to what @holyangel said. Also cf. #201. Cc @chenyt9 @awheeler-mmi.

…and given the rather very slow handling of source releases by Motorola (not just for this device, but in general), I figure I might as well also cc @bkuhn.

[2019-09-02 17:54] charleseb commented on #231
Hi all,

I'm starting the process to push these tags.

Thanks,
Charles

[2019-09-03 18:05] awheeler-mmi commented on #231
@holyangel do you mean motorola-kernel-modules? That project is separate here at Motorola, so we release it separate on Github, as well, so that y'all get the commit history.  Many of our kernel drivers are outside the kernel tree due to Android's Project Treble requirements.  We could potentially drop the release as a single zipfile, much like other manufacturers, but at the cost of the commit hi

[2019-09-03 19:02] holyangel commented on #231
@awheeler-mmi yes that is the project I was referring to.. but no I wouldn't need a separate zip of them. I do appreciate you guys keeping the commit history. I was just hoping they could be included inside the kernel source on a release, so we don't have to do a bunch of manual editing to build them with the kernel in one go, stand-alone instead of in rom source/separate. If it can't be done that

[2019-09-03 20:23] awheeler-mmi commented on #231
@holyangel Got it.  That could make the entire package more easily buildable, and easier for us to produce the build instructions.  We'll look into it.

[2019-09-09 15:01] charleseb commented on #229
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPPS29.55-25-2

[2019-09-09 15:01] #229 closed, assigned to nobody

[2019-09-09 16:29] charleseb commented on #230
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PCP29.118-41

[2019-09-09 16:29] #230 closed, assigned to nobody

[2019-09-09 16:42] charleseb commented on #224
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPOS29.114-16-5-2

[2019-09-09 16:42] #224 closed, assigned to nobody

[2019-09-09 16:57] charleseb commented on #232
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPTS29.74-41-5-3

[2019-09-09 16:57] #232 closed, assigned to nobody

[2019-09-09 21:36] charleseb commented on #231
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPO29.114-30

[2019-09-10 15:27] no-identd commented on #231
Thanks, one down, two to go! Or rather, three, as by now I have one more request for this device, namely, for:

PPO29.114-134

[2019-09-12 06:21] heynando commented on #221
Hey @charleseb do you think Beckham will get Android 10? I only ask because the answer will impact in my decision to keep it or buy a new one.. thank you

[2019-09-14 00:55] AliceGrey opened #233 "GPL Source Request for Moto Z4 (foles) - (PPF29.105-25-13)"
Hello,
Could you please provide the source code for the RETAIL version of the Moto Z4. Specifically version PPF29.105-25-13. @charleseb

Thank You

[2019-09-16 16:16] charleseb commented on #233
Hi @AliceGrey,

We are working to release this version.
It will be released by next week.

Thanks,
Charles

[2019-09-18 02:45] ghost opened #234 "Custom kernel does not recognize storage."
The release of the Motorola E5 Nora kernel MMI-OPP27.91-176-8 was recently released. builds by the tutorial, but it does not recognize the storage.

I do not know if the error was mine, built using two sources, including older and had no problems, only version MMI-OPP27.91-176-8.

[LOGCAT-*:E.log](https://drive.google.com/open?id=1luuRi7v0KAQgUZ2SbXfB0oRIp5f9KEJe)

[LOGCAT-*:F.log](https://drive.g

[2019-09-18 03:00] ghost commented on #234
by adding the parameter: `ro.sys.sdcardfs=false` in build.prop internal storage is recognized normally, but the sd card is corrupted.

[2019-09-18 22:33] AliceGrey commented on #233
@charleseb
It looks like
PPF29.105-25-13-2 got pushed out today. Could you release that version as well? I take it there's a small bugfix in there.

[2019-09-25 17:49] wh0dat opened #235 "GPL Source Request for Moto G7 (river) (PPOS29.114-134-2) + Moto G7 Power (ocean) - (PPO29.114-134-2)"
Please include techpack also this time.
Thanks
~Barry Allen

[2019-09-25 19:39] luizdores commented on #235
Release the kernel Motorola please.

[2019-10-01 22:34] AliceGrey commented on #233
@charleseb Any updates on releasing the source?

[2019-10-02 13:46] charleseb commented on #233
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPF29.105-25-13

[2019-10-02 13:46] #233 closed, assigned to nobody

[2019-10-03 19:07] charleseb commented on #231
Hi @no-identd,

This version (PPO29.114-134) is in our pipeline. It will be released in two weeks.

Could you confirm about PPO29.71-34 and PPO29.80-14, please? Looks like these mentioned versions are not official releases.

Thanks,
Charles

[2019-10-04 22:55] IMPERADOR-MENDIGO opened #236 "GPL Source Request for Moto E5 (codename Nora) (OPPS27.91-176-11-5)"
please release the recent version of the Nora kernel OPPS27.91-176-11-5.

thanks.

[2019-10-05 16:56] Play4NoobWin commented on #236
Soon, maybe

[2019-10-07 15:43] ghost commented on #236
I want it too.

[2019-10-11 15:55] charleseb commented on #236
Hi @IMPERADOR-MENDIGO, @Play4NoobWin, @amaterasushen,

We are starting the process to release this version. It will be available in two weeks.

Thanks,
Charles

[2019-10-12 02:06] wh0dat commented on #235
On River ... In stock , if listening to BT and get incoming call and accept it , BT completely dies after the call and cannot listen to music unless reboot. @charleseb @awheeler-mmi please give techpack for river?? I was planning to buy a ocean but been waiting for techpack for it aswell. PLEASE??!
Thanks in advance

~Barry Allen

[2019-10-12 02:15] electimon commented on #235
Please we need techpack

[2019-10-12 19:02] Geofferey commented on #235
Hi, the techpack is one of the last things we need for functional audio on our custom roms. It would be very much appreciated if you could also include that source as well. Thank you for your consideration and for cohering to the GPL.

[2019-10-17 19:52] Dybios opened #237 "Request for OPS28.65-36-14 tag source update for sanders"
Requesting for the OPS28.65-36-14 tag update for sanders (Moto G5s Plus).
Thank you!

@charleseb @chenyt9 @awheeler-mmi

[2019-10-30 20:41] charleseb commented on #235
Version released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPO29.114-134
techpack: https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-audio-kernel/releases/tag/MMI-PPO29.114-134

[2019-10-31 01:09] motog7 commented on #235
Thanks Charles , this is only for ocean? What about river?

[2019-10-31 11:33] #234 closed, assigned to nobody

[2019-10-31 13:23] charleseb commented on #235
Hi @motog7,

Working on it. It will be available by next week.

Thanks,
Charles

[2019-11-02 14:12] rajatgupta1998 commented on #235
Hi @charleseb . Please consider releasing the kernel and the techpack sources for the build PPOS29.114-134-4 for Moto G7 (River) if possible, as it is the most recent one. :)

[2019-11-05 20:04] charleseb commented on #235
Versions released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPOS29.114-134-2
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-audio-kernel/releases/tag/MMI-PPOS29.114-134-2
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPOS29.114-134-2_RIVER
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-audio-kernel/releases/tag/MMI-PPOS29

[2019-11-05 20:04] #235 closed, assigned to nobody

[2019-11-05 20:05] #231 closed, assigned to nobody

[2019-11-05 20:11] wh0dat commented on #235
thanks @charleseb

[2019-11-05 22:22] charleseb commented on #236
Hi @IMPERADOR-MENDIGO,

I'm still working on this. It will be released this week. Sorry about the delay.

Thanks,
Charles

[2019-11-11 21:13] charleseb commented on #237
Hi @Dybios,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2019-11-12 09:04] moldimolt opened #238 "GPL Source Request for Moto E6 (surfna - PPB29.73-81)"
Hello,

Please release the source code for the surfna kernel, build PPB29.73-81. As the Motorola E6 is available for sale for sale and ships with a binary/executable form of the kernel, under the terms of the GPLv2 section 3 the source code must be made available upon request in a timely manner.

Thank you.

[2019-11-12 13:27] charleseb commented on #238
HI @suppai,

This version is in our pipeline. It will be released by next week.

Thanks,
Charles

[2019-11-13 21:14] charleseb commented on #237
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPS28.65-36-14

[2019-11-13 21:14] #237 closed, assigned to nobody

[2019-11-13 22:16] charleseb commented on #236
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS27.91-176-11-5

[2019-11-13 22:16] #236 closed, assigned to nobody

[2019-11-13 22:23] ghost commented on #236
it didn't take long hahahahah. Thanks for releasing.

[2019-11-15 17:48] #182 closed, assigned to nobody

[2019-11-21 06:43] chenyt9 commented on #238
@suppai ，
Version release：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPB29.73-81
Thanks.
Chenyt9

[2019-11-21 06:43] #238 closed, assigned to nobody

[2019-11-27 18:25] Hasaber8 opened #239 "Audio problems on chef."
Hey @charleseb sorry for the spam, but we just can't get headphones working incall on chef on custom rom(pie) , after a lot of debugging it seems like kernel has some drivers and modules Missing on audio side for chef. If you could chef if any audio kernel stuff is left to released for chef and release it so we can fix the issue, it will be very nice is you. Also kernel release is pending for 9-PP

[2019-12-03 19:40] ghost opened #240 "motorola e5 MMI-OPP28.44-26-17"
Two days ago a version of moto e5 (codename nora) came out MMI-OPP28.44-26-17 in the repository saying it was version 8.1.0 of motorola Nora. however it is 8.0.0. Moto e5 and Moto e5 plus will be upgraded to Android 8.1 How was the moto e5 play(james)? or just the kernel version that was updated for android 8.1?

[2019-12-03 20:15] awheeler-mmi commented on #240
Hey @amaterasushen, all OPP28.* builds should be 8.1.  I just checked the build properties, and confirmed this.  Where are you getting that it's 8.0?

(Moto ancient history: The "28" in our build number is locked the Android SDK version +1.  It is meant to be the "Motorola" version number, and is SDK+1 for reasons lost to time.  Perhaps because we are always one step ahead of Android!!!)

[2019-12-03 20:46] ghost commented on #240
Hello friend, I did not quite understand what you wrote.
all versions of the nora kernel come out in version 27 *, the last released version was: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS27.91-176-11-5 with the following description "Nora push for Oreo 8.0.0", and version MMI-OPP28.44-26-17 had the following description "nora push for oreo 8.1.0". I would like to know

[2019-12-03 23:10] awheeler-mmi commented on #240
OK, I just looked into this. The e5 Tracfone version is a slightly different product.  It's using an MSM8920, and launched a few months later than the 8917-based e5.

I believe we utilized 8920 in North America due to some NA modem requirements that are not met with 8917.  And since it launched later, we released it with 8.1.

I don't expect the 8917-based e5 to get an 8.1 update.

[2019-12-04 00:02] ghost commented on #240
thanks for the clarification.

[2019-12-04 00:02] #240 closed, assigned to nobody

[2019-12-12 05:40] #239 closed, assigned to nobody

[2019-12-12 05:44] Hasaber8 opened #241 "..."
...

[2019-12-12 18:22] asprakash opened #242 "Source request for PPO29.80-61"
Hi. I request the kernel source for MOTO G7, PPO29.80-61, Model : XT1962-6

TIA

[2019-12-12 20:15] charleseb commented on #242
Hi @asprakash,

We are working to release this version. It will be released by next week.

Thanks,
Charles

[2019-12-13 03:42] asprakash commented on #242
Hi Charles. Thanks for the prompt reply and considering my request. Looking forward your further update.

May I know what are differences b/w these various kernel version though the Moto G7 Play/Power are having the same processor?. I found a nearest version MMI-PPO29.80-27. Is this different from my requested version PPO29.80-61?.

TIA.

[2019-12-13 10:47] Hasaber8 commented on #241
Guys anything?

[2019-12-14 16:29] Hasaber8 commented on #241
Any update related to the release of the source will be very useful.

[2019-12-14 16:29] Hasaber8 commented on #241
Any update related to the release of the source will be very useful.

[2019-12-16 17:47] #241 closed, assigned to nobody

[2019-12-16 17:47] Hasaber8 opened #243 "Moto One Power (Chef) Kernel source request QPT30.61-18"
Hey , with Stable Q rolling out for Chef, I request you to release the kernel source for it, version QPT30.61-18 has a kernel build date of 3rd December.
It will be nice of you all to release it as soon as possible.

Rohan.

[2019-12-22 15:14] archie9211 commented on #243
Any updates? ETA?

[2019-12-23 16:22] asprakash commented on #242
Hi. Any updates on the kernel source?

[2019-12-23 21:13] charleseb commented on #242
Hi @asprakash,

Sorry about the delay. I'm still working to process this version before to push.
We'll release both versions MMI-PPO29.80-27 and MMI-PPO29.80-61.
These versions will be released by next week.

Thanks,
Charles

[2019-12-26 22:05] therootlord commented on #243
Up @charleseb

[2020-01-03 05:03] asprakash commented on #242
@charleseb Still waiting for your release.

[2020-01-07 22:38] charleseb commented on #242
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPO29.80-61

[2020-01-08 03:50] asprakash commented on #242
Thanks @charleseb
It will be very helpful if there is any document/steps to compile this source.
TIA

[2020-01-08 07:48] Vachounet opened #244 "[Request] Moto One Hyper (def) QPF30.103-21-1"
Hi,

Could you release kernel sources for that new phone ?

Thanks

[2020-01-08 19:32] Hasaber8 commented on #243
@charleseb any update?

[2020-01-08 21:41] charleseb commented on #243
Hi all,

I'm starting the process to release this version.
It will be released by next week.

Thanks,
Charles

[2020-01-15 14:55] Hasaber8 commented on #243
1/x weeks down.

[2020-01-17 20:29] charleseb commented on #242
Version released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPO29.80-27-RIVER
Readme: https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-PPO29.80-27_RIVER.txt

[2020-01-17 20:29] #242 closed, assigned to nobody

[2020-01-20 10:41] Vachounet commented on #244
Bump @charleseb :)

[2020-01-21 04:57] lynxis opened #245 "Request for PSS29.113-30 tag source update for Albus (Moto Z2 Play)"
Could you please release the sources for build PSS29.113-30 (Albus / Moto Z2 Play, Android 9 Pie) ?

[2020-01-21 10:52] Hasaber8 commented on #243
2/x weeks down.

[2020-01-21 19:27] charleseb commented on #243
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPT30.61-18

[2020-01-21 19:27] #243 closed, assigned to nobody

[2020-01-21 21:31] charleseb commented on #244
Hi @Vachounet,

I'm starting the process to release this version.

Thanks,
Charles

[2020-01-21 23:46] mauro235 opened #246 "[REQUEST] Kernel source release for PPIS29.65-21-2 moto g8+ (doha)"
Kernel source release for moto g8+ (doha) please, tag version PPIS29.65-21-2.

[2020-01-23 20:35] charleseb commented on #245
I think you meant PPS29.133-30. Could you confirm, please?
I'm working to release this version.

Thanks,
Charles

[2020-01-23 20:37] charleseb commented on #246
Hi @mauro235,

Could you describe the tag version you need, please?

Thanks,
Charles

[2020-01-23 20:54] mauro235 commented on #246
Thanks for your fast response @charleseb !

I'm updating the comment with the tag version which is PPIS29.65-21-2

[2020-01-23 21:36] charleseb commented on #246
Hi @mauro235,

I'm starting the process to release this version.

Thanks,
Charles

[2020-01-29 19:47] charleseb commented on #244
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPF30.103-21-1

[2020-01-29 19:47] #244 closed, assigned to nobody

[2020-01-30 16:50] d0vine opened #247 "GPL Source Request for Moto G6 (ali) - PPSS29.55-37-7-2"
I would like to kindly request source code (update) for build/version PPSS29.55-37-7-2 of the MSM kernel for Motorola Moto G6. As mentioned in https://github.com/MotorolaMobilityLLC/kernel-msm/issues/231 , I would like the source to be buildable so it can be used on the device.

[2020-01-31 13:19] borislavba commented on #246
@mauro235, I've just "received" OTA version PPIS29.65-24-2. According to the changelog the android version is update to the 1 November 2019 Security Patch.
Isn't it better to update the request to the latest one or open a second issue for it?

N. B. I'm new around these requests and stuff, sorry if I'm asking obvious things :)

[2020-01-31 14:05] mauro235 commented on #246
That's the latest one from Motorola, how do I request something that does not exist yet? Besides most kernel changes are only security patch updates.

[2020-01-31 14:23] borislavba commented on #246
Let's say that my intention was to notify you that there is an official newer version and to see if it's better to request that instead. Maybe @charleseb can tell us if there are important changes in the kernel so that we should request PPIS29.65-24-2?

[2020-01-31 14:28] mauro235 commented on #246
Seems that it's virtually the same as PPIS29.65-21-2 (which is also November 2019 patch), but a build for India which came later that's why a higher number.

[2020-01-31 14:58] borislavba commented on #246
OK, thanks for the info. Actually I'm in Bulgaria and the "channel" is reteu, so this version might be available in Europe too. I'll try to use (or to build myself if I have the time) a custom kernel based on whatever is released by Moto as soon as possible, as I'm missing some things like e.g. Wireguard.

[2020-01-31 15:30] mauro235 commented on #246
Yeah, or at least a newer security patch. I'm looking forward to improve audio processing latency which is around 165ms (unbelievably high for today standards) and should be less than 30ms.

[2020-02-01 00:03] charleseb commented on #246
Hi @mauro235 and @borislavba,

We'll release both versions PPIS29.65-21-2 and PPIS29.65-24-2.

Thanks,
Charles

[2020-02-04 00:26] lynxis commented on #245
Hi @charleseb, correct, it's PPS29.133-30.

[2020-02-04 14:09] charleseb commented on #245
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPS29.133-30

[2020-02-04 14:09] #245 closed, assigned to nobody

[2020-02-04 19:01] IamThey opened #248 "Unable to build Moto Z3 Play (beckham) - PPW29.131-27-1"
I am getting a compile error when attempting to build PPW29.131-27-1.

The following steps can be used to reproduce my issue. Any assistance would be appreciated. I am attempting to build a Kali Nethunter compatible kernel. I am building in Kali Linux current rolling update.

1:) Create directory for sources.
       mkdir ~/Sources

2:) Clone kernel sources.
       cd ~/Sources
       git clone --

[2020-02-04 19:02] IamThey commented on #248
Oops... Sorry. There is a typo in number 4.

CROSS_COMPILE points to the correct location. :)

[2020-02-04 20:21] mauro235 commented on #246
Any update or ETA? Thanks!

[2020-02-05 12:55] chenyt9 commented on #246
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPIS29.65-24-2

Thanks.

[2020-02-05 14:56] #246 closed, assigned to nobody

[2020-02-05 15:21] chenyt9 commented on #246
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPIS29.65-21-2
Thanks.

[2020-02-05 15:56] mauro235 commented on #246
I have seen several projects updated with those releases. Are there any steps to integrate everything and compile the kernel? Like the readme file for other devices.

[2020-02-06 03:16] chenyt9 commented on #246
@mauro235 ,please refer to: https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-PPIS29.65-21-2.txt
Thanks

[2020-02-08 22:31] Jleeblanch commented on #248
I have no issues building the kernel source

[2020-02-08 22:36] Jleeblanch opened #249 "Moto G7 Plus (lake) Kernel source for tag QPW30.61-21"
@charleseb

Can you please release the kernel source and other relevant sources for tag **QPW30.61-21**?

Thank you
Joshua

[2020-02-12 18:50] charleseb commented on #247
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPSS29.55-37-7-2

[2020-02-13 00:43] #247 closed, assigned to nobody

[2020-02-13 00:44] charleseb commented on #249
Hi @Jleeblanch,

I'm working to release this version. It will be available by next week.

Thanks,
Charles

[2020-02-14 14:42] Dizzzlectic opened #250 "Moto G7 Play (channel) Kernel source for PPY29.105-134-7"
@charleseb

I've got a XT1952-1 running PPY29.105-134-7 and have a project where I need to enable UVC\V4L support. Is the kernel source and\or other relevant sources for this released? If they're already released I'd appreciate a poke in the right direction.

Thank you,
Arnt

[2020-02-17 14:03] charleseb commented on #250
Hi @SpellCraft,
I'm starting the process to release PPYS29.105-134-7.
It will be available by the next week.

[2020-02-17 15:30] Dizzzlectic commented on #250
Thanks a lot. You're a saint.

[2020-02-17 18:32] lynxis commented on #245
Thanks a lot!

[2020-02-27 13:45] charleseb commented on #250
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPYS29.105-134-7

[2020-02-27 13:45] #250 closed, assigned to nobody

[2020-03-02 14:04] charleseb commented on #249
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPW30.61-21

[2020-03-02 14:04] #249 closed, assigned to nobody

[2020-03-05 08:47] Vachounet opened #251 "[Request] Moto G8 Power (sofiar) kernel sources - QPE30.79-41"
Hey,

Could you release kernel sources for this version ?

Thanks

[2020-03-05 09:06] chenyt9 commented on #251
Hi， Vacheounet，
I have started to prepare for the release of this version. Due to some processes, it will take about two weeks. Please be patient, thank you!

[2020-03-05 13:35] Vachounet commented on #251
Hi,

No problem, thank you.

[2020-03-09 15:11] charleseb commented on #248
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-PPW29.131-27-1.txt

[2020-03-09 15:11] #248 closed, assigned to nobody

[2020-03-20 03:23] chenyt9 commented on #251
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPE30.79-41
Thanks.

[2020-03-20 03:23] #251 closed, assigned to nobody

[2020-03-29 15:24] erfanoabdi opened #252 "Moto one "Deen" - QPK30.54-22 Kernel Sources"
Hi @charleseb @chenyt9
Could you provide the corresponding kernel source?

Thanks in advance!

[2020-03-30 14:42] charleseb commented on #252
Hi @erfanoabdi,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2020-04-09 21:49] charleseb commented on #252
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPK30.54-22

[2020-04-09 21:49] #252 closed, assigned to nobody

[2020-05-19 02:37] MLXProjects commented on #44
Unzipped the source file (kernel-msm-MMI-LPC23.13-34.8.zip), and while trying to compile it complains about f2fs folder being missing (checking the zip shows f2fs as a 29-bytes file). I can just edit the files removing the references to it, but releasing a uncompilable source (without mods) isn't the correct way of doing things. I've tried downloading the file in two PCs with different ISPs just f

[2020-05-19 02:43] MLXProjects commented on #44
Unzipped the source file (kernel-msm-MMI-LPC23.13-34.8.zip), and while trying to compile it complains about f2fs folder being missing (it points to a inexistent folder, ../../motorola/kernel/fs/f2fs which doesn't exist on the zip). I can just edit the files removing the references to it, but releasing a uncompilable source (without mods) isn't the correct way of doing things. I've tried downloadin

[2020-05-19 02:46] awheeler-mmi commented on #44
Hey @MLXProjects ,

motorola/kernel is a separate project.  It is [here](https://github.com/MotorolaMobilityLLC/motorola-kernel/tree/MMI-LPC23.13-34.8).  This should be described in the readme.

[2020-05-19 02:51] MLXProjects commented on #44
That's not described neither in the kernel-msm's readme nor in the source zip (maybe I'm looking at the wrong place?).
Anyway, thanks for the fast answer! That was impressive.

[2020-05-19 05:31] rajatgupta1998 commented on #44
https://github.com/MotorolaMobilityLLC/readme

Might check this MMI-LPH23.116-18.1.txt or something similar for ur device.

[2020-05-19 15:30] awheeler-mmi commented on #44
Awesome, great to hear it's working.

[2020-05-19 16:23] Tailanbr opened #253 "Request River source release for QPU30.52-16-2 - please include kernel-modules and techpack"
I would be very grateful

[2020-05-19 16:25] wh0dat commented on #253
We all would be very grateful :)

[2020-05-19 16:26] JuampiCarosi commented on #253
We would appreciate it please!

[2020-05-19 16:49] wh0dat opened #254 "Request sources"
OPPS27.91-179-9-11 - rhannah
PPBS29.73-81-5-8 - surfna

please :)
thanks

[2020-05-19 21:22] charleseb commented on #253
Hi @Tailanbr,

I'm working to release this version. It will be released by Friday.

Thanks,
Charles

[2020-05-21 09:49] chenyt9 commented on #254
@wh0dat ，
Could you pls tell us the specific project name, then we will start preparing for the release. Thank you!

[2020-05-21 09:51] chenyt9 commented on #254
Hi， @wh0dat ，
We are preparing to release work, but it will take about two weeks, please be patient, thank you!

[2020-05-21 09:56] wh0dat commented on #254
Hi and thanks for your reply
I was interested in trying to get Hannah a working 4.9 kernel so i thought
maybe can try to add to surfna's

~Barry Allen

On Thu, May 21, 2020, 4:49 AM chenyt9 <notifications@github.com> wrote:

[2020-05-22 19:15] wh0dat commented on #253
Thanks @charleseb

[2020-05-23 00:37] charleseb commented on #253
Hi @Tailanbr,

Sorry about the delay. I need more a couple days to conclude this.
This version will be released by Monday.

Thanks,
Charles

[2020-05-24 21:18] Tailanbr commented on #253
ok charles, thanks

[2020-05-26 13:42] charleseb commented on #253
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPU30.52-16-2

[2020-05-26 13:42] #253 closed, assigned to nobody

[2020-06-03 03:21] chenyt9 commented on #254
@wh0dat ,
Version released:
PPBS29.73-81-5-8 - surfna
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPBS29.73-81-5-8
OPPS27.91-179-9-11 - rhannah
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS27.91-179-9-11
Thanks.

[2020-06-03 03:21] #254 closed, assigned to nobody

[2020-06-06 22:41] Dark98 commented on #251
@chenyt9 @charleseb would you be able to release the build guide for this release? I've managed a successful build, but just get reeboted to fastboot when trying to boot

[2020-06-06 22:43] Dark98 opened #255 "Sofiar QPE Build Guide Request"
@chenyt9 @charleseb would you be able to release the kernel & modules build guide for this release?

Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPE30.79-41
Thanks.

_Originally posted by @chenyt9 in https://github.com/MotorolaMobilityLLC/kernel-msm/issues/251#issuecomment-601508818_

[2020-06-08 15:38] NexelOfficial opened #256 "Which defconfig should I use for moto g6 (ali)"
Been looking for it for a while now. Though I might aswell ask. Which defconfig should I use for building? There are quite alot and I've been googling for ages and yet no answer.. Thanks alot!

[2020-06-08 15:57] charleseb commented on #256
Hi @nathandiepeveen,

Could you describe the version you are building, please?

Thanks,
Charles

[2020-06-08 16:02] NexelOfficial commented on #256
Hi there! Thanks for your response @charleseb.
I'm building version 'kernel-msm-pie-9.0.0-release-ali'

Thanks again,
Nathan

[2020-06-08 16:03] charleseb commented on #256
Hi @nathandiepeveen,

Could you refer to a tag, please? Sometimes we use the same branch to more than one tag. Then there is better to get a tag to build.

Thanks,
Charles

[2020-06-08 16:05] NexelOfficial commented on #256
Hi @charleseb,

I'm building:

kernel-msm-MMI-PPS29.55-24.

Thanks!

[2020-06-08 19:30] NexelOfficial commented on #256
Hi @charleseb!

Already found something? If not, sorry for the interuption. I'm just very excited. Anyway, thanks for helping.

Nathan

[2020-06-08 23:53] Dark98 commented on #255
@charleseb @chenyt9 @awheeler-mmi

[2020-06-09 03:32] chenyt9 commented on #255
@Dark98,
Please refer to：https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-QPE30.79-41.txt
Thanks.

[2020-06-09 03:32] #255 closed, assigned to nobody

[2020-06-09 13:21] charleseb commented on #256
Hi @nathandiepeveen,

I need some time to prepare the readme file to this version.
It will be available by Friday.

Thanks,
Charles

[2020-06-09 13:22] NexelOfficial commented on #256
Alright @charleseb

Sounds good to me!

I appriciate it alot. Thanks!

Nathan

[2020-06-12 23:19] ghost opened #257 "[REQUEST KERNEL]"
Hello friends, I'm looking for the kernel of two devices:

Pokerp (Moto E6 Plus 2/32)
Pokerp_64 (Moto E6 Plus 4/64)

For study purposes, compilations and maintaining the famous custom rom's. Everything is ready, but I urgently need the kernel source.

[2020-06-15 10:39] NexelOfficial commented on #256
Hi @charleseb,

How are you? I was wondering how things are going with the readme file since Friday has passed already. Would love to hear from you,

Nathan

[2020-06-15 15:24] charleseb commented on #256
Readme file released:
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-PPS29.55-24.txt

[2020-06-15 15:24] #256 closed, assigned to nobody

[2020-06-19 14:27] JarlPenguin opened #258 "[Request] Moto G5S (montana) OPPS28.65-37-7-12 kernel source"
Please release the kernel source for this tag. Thank you.

[2020-06-19 21:58] charleseb commented on #258
Hi @JarlPenguin,

We are working to release this version, it will be released by next week.

Thanks,
Charles

[2020-06-20 22:16] anoraktrend opened #259 "[request] buildable Kernel Source for E6"
Not necessary if the branch is buildable. Would be nice to have, however, for various reasons.

[2020-06-22 08:53] Vachounet opened #260 "[Request] Moto Edge (racer) kernel sources - QPD30.70-43-2"
Hey,

Could you release kernel sources for this version ?

Thanks

[2020-06-24 08:20] chenyt9 commented on #260
Hi， @Vachounet
We are preparing to release work, but it will take about two weeks, please be patient, thank you!

[2020-06-25 05:13] Hasaber8 opened #261 "[Request] Moto One Fusion + (liber) kernel sources - XT2067-2_LIBER_RETUS_10_QPIS30.73-23-1-3"
Hey,
Could you release kernel sources for this version ?
Thanks

[2020-06-28 10:25] chenyt9 commented on #261
@Hasaber8 ，
We are preparing to release work, but it will take about two weeks, please be patient, thank you!
BRs.
Chenyt9

[2020-07-01 07:43] chenyt9 commented on #259
Hi, @anoraktrend
Could you specify which project and version? Thanks.

[2020-07-02 05:37] anoraktrend commented on #259
ah, nevermind, didn't see the already existing surfna kernel source issue that was already closed. thanks anyway for your response.

[2020-07-02 05:37] #259 closed, assigned to nobody

[2020-07-03 03:10] charleseb commented on #258
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-OPPS28.65-37-7-12

[2020-07-03 03:10] #258 closed, assigned to nobody

[2020-07-03 06:02] chenyt9 commented on #257
Hi，@theczeman ,
Could you tell me which version do you need? Thanks.
We have released two versions: MMI-PTA29.401-18(https://github.com/MotorolaMobilityLLC/kernel-mtk/releases/tag/MMI-PTA29.401-18) and MMI-PTB29.401-18(https://github.com/MotorolaMobilityLLC/kernel-mtk/releases/tag/MMI-PTB29.401-18).
I don’t know if it can meet your needs?
The branch of the kernel code is https://github.com/Motorol

[2020-07-04 10:09] Hasaber8 commented on #261
There is a confusion regarding exactly which chipset this device has, in India its marketed as 730G but in Europe its 730, can you clarify exactly which chipset its having?
-Rohan

[2020-07-13 12:39] knuxyl opened #262 "[Request] Moto X4 (payton) - PPWS29.69-40-3-1 Kernel Source"
Can you please release the kernel source for the latest retail Moto X4 (payton) device, thanks!
`Firmware File - PAYTON_RETAIL_9.0_PPWS29.69-40-3-1_subsidy-DEFAULT_regulatory-DEFAULT_CFC.xml.zip`
`Android Version - 9`
`Kernel version - PPWS29.69-40-3-1`

[2020-07-13 13:47] charleseb commented on #262
Hi @knuxyl,

We are starting the process to release this version.
It will be available by Friday.

Thanks,
Charles

[2020-07-13 23:16] balika011 opened #263 "diag_notify_md_client wrongly clears the md_support flag"
More details: [https://github.com/MotorolaMobilityLLC/kernel-msm/commit/6947c341ef076cf5ca0af4ebb9636ba1bdb0fa03#r40575236](https://github.com/MotorolaMobilityLLC/kernel-msm/commit/6947c341ef076cf5ca0af4ebb9636ba1bdb0fa03#r40575236)

[2020-07-13 23:35] balika011 opened #264 "duplicated commit"
[https://github.com/MotorolaMobilityLLC/kernel-msm/commit/7a4560bc45decea1aef8dc697daf2c10988bca33](https://github.com/MotorolaMobilityLLC/kernel-msm/commit/7a4560bc45decea1aef8dc697daf2c10988bca33)
[https://github.com/MotorolaMobilityLLC/kernel-msm/commit/f73f5045532b24f3d7fa6afd88bcba8a0c9d540d](https://github.com/MotorolaMobilityLLC/kernel-msm/commit/f73f5045532b24f3d7fa6afd88bcba8a0c9d540d)

[2020-07-14 03:53] Deivid21 opened #265 "[Request] Moto G7 Play (channel) - QPYS30.52-22-2 Kernel Sources"
Hey,
Could you release kernel sources for this version?
Thanks :)

[2020-07-14 13:59] charleseb commented on #265
Hi @Deivid21,

We are working to release this version. It will be available by Friday.

Thanks,
Charles

[2020-07-14 15:04] charleseb commented on #262
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPWS29.69-40-3-1

[2020-07-14 15:04] #262 closed, assigned to nobody

[2020-07-14 22:34] knuxyl commented on #262
Thank you!

[2020-07-16 22:38] balika011 opened #266 "[REQUEST] Missing QPVS30.106-27-2 source"
The QPVS30.106-27-2 source nowhere to be found and qpv30.106-27 is not compatible.

[2020-07-18 13:40] 00p513-dev commented on #265
Any update on the source code? I am trying to build postmarketOS and would like the newer kernel sources

[2020-07-19 03:14] Fraaxius opened #267 "[Request] Moto G7 Power (ocean) - QPOS30.52-29-2 Kernel Sources"
Hey,
Could you release kernel sources for this version?
Thanks :)

[2020-07-19 03:21] kytoaq opened #268 "[Request] Moto G8 Plus (doha) - PPIS29.65-51-5 Kernel Sources"
Hey,
Could you release kernel sources for this version?
Thanks :)

[2020-07-20 16:53] charleseb commented on #268
Hi @kytoaq,

We are starting the process to release this version. It will be available by Friday.

Thanks,
Charles

[2020-07-20 17:10] charleseb commented on #265
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPYS30.52-22-2

[2020-07-20 17:10] #265 closed, assigned to nobody

[2020-07-20 17:11] charleseb commented on #267
Hi @Fraaxius,

We are starting the process to release this version. It will be available by Friday.

Thanks,
Charles

[2020-07-20 17:13] charleseb commented on #266
Hi @balika011,

We are starting the process to release this version. It will be released by Friday.

Thanks,
Charles

[2020-07-20 20:23] balika011 commented on #266
Awesome, thanks

[2020-07-21 12:30] Vachounet commented on #260
Bump :)

Maybe we could have the newer QPD30.70-58 ?

[2020-07-22 05:55] Hasaber8 commented on #261
Just received an update! It will be nice if you can release QPI30.73-16-5-2.
Rohan

[2020-07-22 09:25] chenyt9 commented on #260
@Vachounet ，
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPD30.70-43-2
QPD30.70-58 is in another workflow, we are preparing.
Thanks.

[2020-07-22 19:54] charleseb commented on #266
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPVS30.106-27-2

[2020-07-22 19:54] #266 closed, assigned to nobody

[2020-07-22 19:55] charleseb commented on #267
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPOS30.52-29-2

[2020-07-22 19:55] #267 closed, assigned to nobody

[2020-07-23 02:54] chenyt9 commented on #261
@Hasaber8 ，
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPI30.73-16-5
QPI30.73-16-5-2 is in another workflow, we are preparing.
Thanks.

[2020-07-23 09:05] Hasaber8 commented on #261
Thank you for the release

[2020-07-23 09:05] #261 closed, assigned to nobody

[2020-07-23 15:08] amarc78 opened #269 "Request kernel source for sofiap"
Can you guys please release the kernel source for sofiap QPRS30.80-58-3? Or will the source for sofiar work for sofiap (US retail)?

[2020-07-23 15:38] amarc78 commented on #269
Actually, I see sofiar source wasn't actually released.

[2020-07-24 20:57] charleseb commented on #268
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPIS29.65-51-5

[2020-07-24 20:57] #268 closed, assigned to nobody

[2020-07-25 00:56] Fraaxius opened #270 "[REQUEST] Missing branch Moto G⁷ Power (ocean) QPOS30.52-29-2 Kernel"
Hello!

I can't find branch of kernel QPOS30.52-29-2 for Moto G⁷ Power (ocean)

¿You're can solve it? Thanks! :)

[2020-07-25 14:51] charleseb commented on #270
Hi @Fraaxius,

Please refer to the tag https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPOS30.52-29-2
Sometimes we use the same branch for more than one version.

Thanks,
Charles

[2020-07-25 14:51] #270 closed, assigned to nobody

[2020-07-29 06:21] boris-kolpackov commented on #182
For anyone else trying to figure our why module signing is enable even though you've explicitly disabled it, CONFIG_SECURITY_LOCKDOWN_LSM=y forces it. So this seems to do the trick:

[code]

[2020-08-04 02:27] chenyt9 commented on #260
@Vachounet ，
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPD30.70-58
Thanks.

[2020-08-04 02:27] #260 closed, assigned to nobody

[2020-08-04 08:25] chenyt9 commented on #261
@Hasaber8 ，
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPI30.73-16-5-2
Thanks.

[2020-08-06 15:27] Vachounet opened #271 "[Request] Moto G(8) (rav) kernel sources - QPJS30.63-35-1-9"
Hey,

Could you release kernel sources for this device ?

Thanks

[2020-08-06 15:50] Vachounet opened #272 "[Request] Moto G Power (sofia) kernel sources - QPMS30.80-51-5"
Hey,

Could you release kernel sources for this version ?

Thanks

[2020-08-09 07:59] dopaemon opened #273 "Moto Z3 Play (beckham) i need One Commit"
# Thanks For Team Motorola
I Need Commit Adreno 509 830Mhz
I Can't Find With This Source
Pls Tell Me
Thanks

[2020-08-10 03:06] chenyt9 commented on #272
Hi,@Vachounet ,
We are preparing to release work, but it will take about two weeks, please be patient, thank you!

[2020-08-10 03:06] chenyt9 commented on #271
Hi,@Vachounet ,
We are preparing to release work, but it will take about two weeks, please be patient, thank you!

[2020-08-16 22:50] Vachounet opened #274 "[Request] Devicetree for 4.19 kernel (kona/lito for the time being)"
As reverted here, https://github.com/MotorolaMobilityLLC/kernel-msm/commit/db02045163b7e908b3423fef3cb8215373f21d1d, we're now unable to build dtb/o.

Could you please release them as a separate repo ?

Thanks.

[2020-08-17 06:25] chenyt9 commented on #272
Hi，@Vachounet ，
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPMS30.80-51-5
Thanks.

[2020-08-17 06:25] #272 closed, assigned to nobody

[2020-08-17 09:25] chenyt9 commented on #271
Hi,@Vachounet ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPJS30.63-35-1-9
Thanks.

[2020-08-17 09:25] #271 closed, assigned to nobody

[2020-08-18 13:22] dopaemon commented on #273
U Don't Have This ?

[2020-08-18 14:32] awheeler-mmi commented on #273
Hey @dopaemon. I'm not sure what you are requesting.  Can you be more specific? Thanks!

[2020-08-19 00:10] Vachounet opened #275 "[Request] Moto G 5G Plus - QPN30.33-40"
Hey,

Could you release kernel sources for this version ?

Thanks.

[2020-08-19 07:10] dopaemon commented on #273
^^
Thanks Reply Me
https://support.motorola.com/us/en/documents/MS130460/

GPU Adreno 509 850Mhz

I Need Commit GPU 850Mhz For Adreno 509

But i can't find this with Source

[2020-08-19 14:38] awheeler-mmi commented on #273
Hey @dopaemon, the Adreno runs custom firmware.  We don't open-source it.

-andrew

[2020-08-19 19:20] JarlPenguin opened #276 "[Request] Moto G5S (montana_retcn/XT1799-2) NZS26.68-117-10 kernel source"
Can you please release the kernel sources for this tag? Thank you.

[2020-08-23 09:05] dopaemon commented on #273
oh okay thanks u

[2020-08-24 15:34] betaxab opened #277 "[Request] Motorola One Zoom - QPH30.29-Q3-28-13"
Hi,

Could you release kernel sources for this version?

Thanks.

[2020-08-27 01:40] charleseb commented on #277
Hi @betaxab,

We are starting the process to release this version. It will be available by Tuesday.

Thanks,
Charles

[2020-08-27 01:42] #273 closed, assigned to nobody

[2020-08-27 17:07] Vachounet commented on #275
Bump @charleseb @awheeler-mmi

[2020-08-27 17:07] Vachounet commented on #274
Bump @charleseb @awheeler-mmi

[2020-08-27 18:59] charleseb commented on #275
Hi @Vachounet,

We are working to release this version. It will be available by next week.

Thanks,
Charles

[2020-08-28 08:41] xiongkg1 commented on #276
Dear JarlPenguin, Can you confirm the version information again?
The steps are as follows: Settings ---> About ----> ZUI Vsersion
Here is a version release of montana _retail:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-NPP26.102-41
montana _retail and montana _retcn the code is basically the same. Please see if it will help you.

[2020-08-28 10:17] betaxab commented on #277
@charleseb hi, could you upload this kernel's build readme? Thanks!

[2020-08-29 15:28] JarlPenguin commented on #276
Hi,
The ZUI version is 3.1.86-128 ST. With the provided kernel source unfortunately front camera does not work.

[2020-08-30 02:22] PixlOne opened #278 "[Request] Moto Edge+ (burton) kernel sources - QPB30.188-58"
I see that the kernel sources for QPB30.188-26-4 on burton are released. Can you release the updated QPB30.188-58 kernel sources?

Thanks.

[2020-08-31 09:04] Hasaber8 opened #279 "[Request] Moto One Fusion + (liber) kernel sources - XT2067-2_LIBER_RETUS_10_QPIS30.73-23-1-3"

[2020-08-31 12:24] charleseb commented on #278
Hi @PixlOne,

We are starting the process to release this version. It will be released by Friday.

Thanks,
Charles

[2020-09-01 02:33] xiongkg1 commented on #276
Dear JarlPenguin
      Nzs26.68-117-10 and 3.1.86-128 st are not officially released by us. How do you get this version? Is your mobile phone purchased in the market or customized through channels?

[2020-09-02 11:07] chenyt9 commented on #275
Hi, @Vachounet ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPN30.33-40
Thanks.

[2020-09-02 11:07] #275 closed, assigned to nobody

[2020-09-02 15:16] charleseb commented on #278
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPB30.188-58

[2020-09-02 15:16] #278 closed, assigned to nobody

[2020-09-02 22:10] JarlPenguin commented on #276
I infact do not have the device itself, but I know some people have it. If the kernel source is the same for both variants, I will try to look for a solution. Thank you for your help.

[2020-09-02 22:10] #276 closed, assigned to nobody

[2020-09-03 01:26] Swagman89 opened #280 "[Request] z4 kernel for QPFS30.130-15-11-5 and Device Tree"
Please release the Z4 Android Q kernel source and if possible a device tree, building TWRP for the z4 to bring motorola back to where it was in the phone development world.

[2020-09-03 01:43] Swagman89 commented on #280
Added clarification, I need the Unlocked Variant for the USA.

[2020-09-07 23:37] JulyMorga opened #281 "QPWS30.61-21-14 - With mobile data disabled, it consumes mobile data and can surf the internet on moto g7 plus"
After updating from Android 9 to Android 10 on the moto g7 plus. With the mobile data deactivated, and exit the airplane mode, or lose the Wi-Fi signal, or turn on the cell phone. Mobile data is consumed, generating a charge to the user. This error is frequently manifested.
The error occurs from the first version of Android 10 (build QPW30.61-21), and the last one also (build QPWS30.61-21-14)

Thi

[2020-09-08 14:18] thomasmey opened #282 "Potter OPS28.85-17-6-2 - DTB missing for P3B?"
Hi,

what is the correct dtb file for "product/variant": "potter XT1685 32GB P3B"?
the source tree contains only these

arch/arm/boot/dts/qcom/msm8953-potter-p1b.dtb
arch/arm/boot/dts/qcom/msm8953-potter-p0a.dtb
arch/arm/boot/dts/qcom/msm8953-potter-p1a.dtb
arch/arm/boot/dts/qcom/msm8953-potter-p2b.dtb
arch/arm/boot/dts/qcom/msm8953-potter-p3a.dtb
arch/arm/boot/dts/qcom/msm8953-potter-p2a2.dtb
arc

[2020-09-10 12:31] JulyMorga commented on #281
Hello, Do you need any other information?

The error looks like a failure to initialize the gprs module. Once the error occurs, you can turn the wifi off and on and the error will continue to occur. When putting the airplane mode and taking it out, the error sometimes stops happening. But when you turn off the cell phone or activate the airplane mode again, and turn on or off the airplane mode, th

[2020-09-10 15:03] awheeler-mmi commented on #281
Hey @JulyMorga,

This is, indeed, a bad issue that you're experiencing. Could you move your message to the [g7 support forum](https://forums.lenovo.com/t5/moto-g7-play-moto-g7-moto-g7-power-moto-g7-plus/bd-p/moto_g7_play_power_plus)?  Our support forums have staff (and customers) that can help with this sort of thing.

Thanks!

-andrew

[2020-09-10 19:42] charleseb commented on #280
Hi @Swagman89,

We are starting the process to release this version. It will be available by next week.

Thanks,
Charles

[2020-09-10 19:43] charleseb commented on #277
Hi @betaxab,

I'm working to release the readme file. It will be available by Monday.

Thanks,
Charles

[2020-09-11 01:41] JulyMorga commented on #281
Hellow @awheeler-mmi , thanks for answering!

Yes, I already put it on one occasion. I also took it to official technical service 5 times, they denied me the problem. They changed my cell phone and the same thing happens when updating to Android 10.

It is not a sim card problem, or applications.

Just do it again in the forum, with more description:
https://forums.lenovo.com/t5/moto-g7-play-moto-

[2020-09-11 04:13] Fraaxius opened #283 "[Request] Moto G8 Plus (doha) - QPI30.28-Q3-28-26 Kernel Sources"
Hey,
Could you release kernel sources for this version?
Thanks :)

[2020-09-11 11:00] balika011 opened #284 "[Request] QCS30.58-Q3-30 source"
Hello Moto!
I'm looking for the kernel source for QCS30.58-Q3-30.
Can you please provide that?

[2020-09-11 17:50] charleseb commented on #283
Hi @Fraaxius,

We are starting the process to release this version. It will be available by next week.

Thanks,
Charles

[2020-09-12 18:25] Vachounet commented on #274
Bump :D

If you need more details, let me know.

[2020-09-12 18:28] Vachounet commented on #275
Could we get a readme for this release ?
Can't get it to boot, same as with racer.

[2020-09-13 07:30] betaxab commented on #277
hi, @charleseb ,

Could you release Motorola E7 ginNA's readme?

Thanks! 👍

[2020-09-13 12:49] vvknd opened #285 "Moto G9 ( india )"
Recently purchased moto g9 ( india ) having Snapdragon 662 according to website but in about phone baseband version is shown as  M4250_XX.XXX.XX.XXR which is for Snapdragon 460.

For Snapdragon 662  baseband version should be  M6115_XX.XXX.XX.XXR.

[2020-09-14 19:58] awheeler-mmi commented on #282
Hey @thomasmey, we don't have this code easily searchable, but if there is no p3b.dtb then it is likely p3b.dtb.  The difference between hardware rev 3a and 3b was likely very small, and didn't impact the dtb.

[2020-09-14 20:09] thomasmey commented on #282
Hi,

Thanks for the update. In the mean time I did find out that p3a seems to work correctly also.

Sorry for the fuzz.

[2020-09-14 20:14] awheeler-mmi commented on #280
@Swagman89, by "device tree" do you mean the device's build configuration makefiles (e.g. messi.mk, etc.), or the DTB source?

[2020-09-14 20:25] charleseb commented on #285
Hi @vvknd,

Could you describe the version tag(s) you need, please?

Thanks,
Charles

[2020-09-14 20:26] #282 closed, assigned to nobody

[2020-09-14 20:38] awheeler-mmi commented on #274
Hey @Vachounet,

With the new kernel/GKI refactoring, Qualcomm close-sourced their DT sourcefiles.  So we no longer have a license to share these files with the community.  We will request Qualcomm to open-source their DT source, again.

[2020-09-14 20:41] Swagman89 commented on #280
@awheeler-mmi I am intending to use this to build twrp for the device. I'm still a little green on all the exacts. I was hoping to just get what's referred to in other documentation as the device tree that's used when you compile TWRP or truthfully any Android build. I wasn't sure if you'd provide it or not. If you're not sure still based on my explanation then just let me get anything and everyth

[2020-09-14 20:48] #274 closed, assigned to nobody

[2020-09-14 20:48] #257 closed, assigned to nobody

[2020-09-14 20:50] awheeler-mmi commented on #280
Ok, based on what I found [here](https://gerrit.twrp.me/admin/repos), the TWRP project is referring to the build configuration.  This isn't something we can open-source.  Our product configuration is pretty huge, convoluted, and involves some closed-source code, too.

[2020-09-14 21:09] konradybcio commented on #274
The files were shared under GPL2-Only. They cannot close-source them "just like that". This violates the software freedom of source availability.

Reference:

https://portland.source.codeaurora.org/quic/la/kernel/msm-4.19/commit/arch/arm64/boot/dts?h=LA.UM.8.12.r1-13500-sm8250.0&id=c85db797af86a29c00f1ccb0e2be89ebbe18896c

[2020-09-14 21:52] awheeler-mmi commented on #274
hey @konradybcio,

First I can't speak for QC, and I am also not an OSS lawyer.  So the below comments are only based on my observations, as someone looking at the code, and someone that has looked at open-source licenses before.

Let me clarify that I don't precisely know what QC has done.  I just see that the original DTS files are removed, and that new DTS files are now part of our "proprietary

[2020-09-14 21:59] Swagman89 commented on #280
Kinda figured as much. But my favorite saying is closed mouths never get
fed. Release what you can and I'll take it from there! Thanks.

On Mon, Sep 14, 2020, 4:50 PM awheeler-mmi <notifications@github.com> wrote:

[2020-09-14 22:05] #264 closed, assigned to nobody

[2020-09-15 04:52] vvknd commented on #285
(. Issue )
Hi @charleseb
Here is the screenshot.
![Screenshot_20200912-163940](https://user-images.githubusercontent.com/71217846/93166997-491e2700-f73d-11ea-983e-2cc1ff4ca48e.png)

Why SD 662 phne showing baseband of sd460 ?
is Motorola cheating ?

[2020-09-15 07:43] Vachounet commented on #274
OnePlus and Xiaomi released them, pretty sure that you should be able to do it too :D

[2020-09-15 08:38] neobuddy89 commented on #274
Xiaomi released without proprietary DTS files. I am sure, Motorola can do
this as well.

Motorola is being quoted as good example on how to release source (not
squashing changes unlike others). This decision of not sharing source will
surely hamper developement ecosystem badly.

On Tue, Sep 15, 2020, 1:13 PM Vache <notifications@github.com> wrote:

[2020-09-15 09:24] balika011 commented on #264
Won't fix?

[2020-09-15 09:41] chenyt9 commented on #269
Hi， @amarc78
Here is a version for sofiar：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPE30.79-41
I have started to prepare for the release of this version（sofiap QPRS30.80-58-3）. Due to some processes, it will take about two weeks. Please be patient, thank you!

[2020-09-15 14:49] awheeler-mmi commented on #274
Hey @Vachounet, can you point me to the OnePlus and Xiaomi releases?  I see in OnePlus's 8250 kernel where the DTS files are [removed](https://github.com/OnePlusOSS/android_kernel_oneplus_sm8250/tree/oneplus/SM8250_Q_10.0/arch/arm64/boot/dts/qcom), but not where they have moved them to.  QCOM's release to us includes these DTS files under vendor/qcom/proprietary/devicetree-4.19.  (QC releases thei

[2020-09-15 15:11] awheeler-mmi commented on #274
I just noticed [this thread](https://www.reddit.com/r/Android/comments/iiybi5/android_aosp_can_now_boot_off_mainline_linux/g3c39fw/?context=3), where a OnePlus dev is running into the same issue.   Though they mention that OnePlus is still releasing it, albeit an older version.  If OnePlus is releasing it then I'll make sure we can, too.

[2020-09-16 01:49] amarc78 commented on #269
That's ok. It's all good bro. The sofiar kernel source been working fine. Thanks!

[2020-09-16 08:38] badmaan commented on #285
Those chipsets has a unified BSP from Qualcomm. This is not related to Motorola.

[2020-09-16 09:06] PythonLimited commented on #285
I looked up the modem versions at qcom, but all sdm662 have M6115 or SDM6XX.GEN.PACK.1 as unified modem version.
In fact the sdm460 isnt even included in the sdm662 BSP.

[2020-09-16 09:27] badmaan commented on #285
No.
![20200916_122616](https://user-images.githubusercontent.com/13089901/93318898-e6e62480-f817-11ea-9f24-45be51550e25.jpg)

[2020-09-16 11:24] PythonLimited commented on #285
I'm talking about the BSP.
Not the design guidelines or docs.
Send the about.html that includes both.

[2020-09-16 11:42] badmaan commented on #285
![20200916_144155](https://user-images.githubusercontent.com/13089901/93332679-dd19ec80-f82a-11ea-8ebe-876d15648023.jpg)

[2020-09-16 11:49] PythonLimited commented on #285
What is that repo name?
I have them separated and only for R...
![Screenshot_2020-09-16-13-48-29-737_com android chrome](https://user-images.githubusercontent.com/16454674/93333326-73e2ab00-f823-11ea-92af-954ffe09ecd6.jpg)

[2020-09-16 11:53] badmaan commented on #285
snapdragon-mid-2020-spf-1-0_hlos_dev revision 00018.

[2020-09-17 15:14] Swagman89 commented on #280
@awheeler-mmi I'll take anything you can give me.

[2020-09-21 13:52] ajaikumarnadar opened #287 "Android 9 OTA update for z2 play"
Why the Indian variants of Moto z2 play haven't received Android 9 update yet ?

An year ago, we saw people receiving the update in Brazil and that too a 32-bit OS, where-in the chip is capable of 64-bit software, For ex: Moto one has sd625 and it got 64 bit os but our z2 play got 32 bit os :(.

My question is, why not in India ?

**Why are you guys doing these things? Its really annoying for us..

[2020-09-23 20:49] awheeler-mmi commented on #287
Hey @ajaikumarnadar. This is a great question for the [support forums](https://forums.lenovo.com/t5/Motorola-Community/ct-p/MotorolaCommunity)!  The team monitoring Github work on open-source releases.  But the team on the support forum give feedback directly to the upgrade planning teams. So ping them and let them know you are interested!

[2020-09-24 06:46] kytoaq opened #288 "[Request]: Odessa QPA30.19-Q3-32 Kernel Sources"
<h1> Hi Moto!  👋 </h1>
<h3> Please, could you release kernel sources for this version? </h3>
<h2> Thanks 🤨 <h2>

[2020-09-24 11:22] Vachounet commented on #283
Bump @charleseb :)

[2020-09-24 17:55] #287 closed, assigned to nobody

[2020-09-24 17:56] charleseb commented on #283
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPI30.28-Q3-28-26

[2020-09-24 17:56] #283 closed, assigned to nobody

[2020-09-24 18:02] charleseb commented on #280
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPFS30.130-15-11-5

[2020-09-24 18:02] #280 closed, assigned to nobody

[2020-09-24 20:06] JarlPenguin opened #289 "[Request] Moto One (deen_sprout) QPKS30.54-22-12 kernel source"
Releasing the kernel source would be much appreciated. Thank you beforehand!

[2020-09-25 07:26] chenyt9 commented on #285
Hi,@vvknd ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPX30.30-Q3-38-20
Thanks

[2020-09-28 20:40] Hlcpereira commented on #274
@awheeler-mmi both oneplus and Xiaomi are releasing. Oneplus is updating the dts too from time to time afaik

[2020-09-29 06:32] vvknd commented on #285
thanks , but my concern is for baseband version.

[2020-09-29 06:33] vvknd commented on #285
@chenyt9 my concern is for baseband version.
and thank for code.

[2020-09-29 06:41] vvknd opened #290 "[ request ] Add HEIC format in moto g9"
latest device moto g9 came with snapdragon 662 which support HEIF format, but in camera setting there is no option to select that format .
i request to implement it in.
thank you
@charleseb @chenyt9

SD662 https://www.qualcomm.com/products/snapdragon-662-mobile-platform

android source : https://source.android.com/devices/camera/heif

[2020-09-29 06:52] vvknd opened #291 "[request] Add support for NavIC navigation"
Moto g9 first lauched in india by saying india first...and still dont support indian navigation system..SD 662 is first Qualcomm chip to add support for NavIC... what a irony this is.
please add support of it.

![image](https://user-images.githubusercontent.com/71217846/94523190-747d3780-024e-11eb-95db-59c530472470.png)

[2020-09-29 14:02] awheeler-mmi commented on #285
Hey @vvknd,

SM4250 and SM6115 both have a Snapdragon X11 LTE modem, and share the same modem binary.  The version number, M4250_XX.XXX.XX.XXR, is our own versioning scheme, and we tend to put the chipset number of the first chipset that the release supports, rather than all of the chipsets that the release supports.

[2020-09-29 14:23] vvknd commented on #285
@awheeler-mmi please change string to M6115 to remove confusion.

thank you.

[2020-09-29 14:46] awheeler-mmi commented on #285
@vvknd Oh if it were only that easy!

[2020-09-29 20:10] Hasaber8 commented on #291
Hey @vvknd , I have been looking at the previous comments you made, there are certain limitation on a device stack, if you feel you want certain things added take the kernel source code and work on it yourself, and stop commenting and annoying people over here.
:-)

[2020-09-30 02:57] #285 closed, assigned to nobody

[2020-10-08 21:42] charleseb commented on #284
Hi @balika011,

I think this is not an official release. Please check I've released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QCS30.58-Q3-44-9-11-2

Please check if this version is enough.

Thanks,
Charles

[2020-10-08 21:42] #284 closed, assigned to nobody

[2020-10-08 21:50] charleseb commented on #289
Hi @JarlPenguin,

We are starting the process to release this version. It will be released by next week.

Thanks,
Charles

[2020-10-09 09:31] chenyt9 commented on #288
Hi，@kytoaq
We have released multiple versions starting with QPA30.19-Q3-32. Could you describe the version tag(s) you need, please?
Thanks.

[2020-10-11 04:19] kytoaq commented on #288
Well, could you provide the source code:

**ODESSA**     **BRLA_CUST**       **QPA30.19-Q3-32-21**
**ODESSA**     **BRLA_CUST**       **QPA30.19-Q3-32-39**

...and as a question, is there release of LATAM_CUST?

Thank you.

[2020-10-13 06:05] chenyt9 commented on #288
Hi,@kytoaq ,
I am starting to trigger the release process, which will take about two weeks. Please wait patiently, Thank you!
Chenyt9

[2020-10-15 06:42] chenyt9 commented on #269
Hi， @amarc78
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPRS30.80-58-3
Thanks.

[2020-10-15 06:42] #269 closed, assigned to nobody

[2020-10-16 02:24] chenyt9 commented on #279
Hi, @Hasaber8 ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPIS30.73-23-1-3
Thanks.

[2020-10-16 02:24] #279 closed, assigned to nobody

[2020-10-18 12:35] JarlPenguin commented on #289
@charleseb Hi, are there any updates on the release?

[2020-10-19 16:12] charleseb commented on #289
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPKS30.54-22-12

[2020-10-19 16:12] #289 closed, assigned to nobody

[2020-10-26 10:47] Hasaber8 commented on #274
Any update on this? @awheeler-mmi

[2020-10-26 19:02] awheeler-mmi commented on #274
I opened a support issue with QCOM, and asked them to open-source these files.  I'll work on escalating the request.

[2020-10-26 20:27] Hasaber8 commented on #274
Thank you for the prompt response.

[2020-11-02 19:21] Hasaber8 commented on #274
First of all I want to thank you for being so patient and answering our questions, but I still dont understand how Xiaomi and OnePlus have releases the dts for 4.19 kernel but Motorola hasn't. This is really causing a huge inconvenience on our part as developers in booting custom kernel and android builds. I know @awheeler-mmi you are trying you best to talk with QCOM and get us those dts, but ple

[2020-11-02 20:23] awheeler-mmi commented on #274
Hey @Hasaber8,

I have heard back from QCOM, where they confirmed that these files are proprietary.   So I have escalated this issue to our business team.

W/rt Xiaomi and and OnePlus, we can't release them just because they did.  I did raise this specific issue w/ QCOM, but they didn't bite.  This is going to take some time.

[2020-11-02 20:33] Hasaber8 commented on #274
This is really sad, but still thank you for putting our word in front of the respective teams. Please let us know when something big happens.

[2020-11-02 20:35] Hlcpereira commented on #274
@awheeler-mmi I'm sorry if I'm saying something completely irrational/dumb, but as the kernel is under a GPL-2.0 license wouldn't that mean that once anything included in the kernel, despite the license that the driver/dts would have, could be made public without any issues exaclty because they are under the LK GPL-2.0 license then, therefore nullifying the license of confidental and proprietary c

[2020-11-03 10:22] Vachounet commented on #275
Bump, @charleseb @awheeler-mmi

[2020-11-03 22:16] erfanoabdi opened #292 "[Request] Full techpack drivers for 4.19 kernel (kona/lito)"
Please release source code of techpack drivers for 4.19 devices
Example device tags: QCS30.58-Q3-44-9-11-2 or QPD30.70-58
Techpack includes:

- camera
- dataipa
- display
- video
- audio

audio already available at https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-audio-kernel but other drivers missing

Thanks
cc @charleseb @awheeler-mmi @chenyt9

[2020-11-05 01:58] chenyt9 commented on #275
@Vachounet ,
Please refer to this file:
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-QPN30.33-40.txt
Thanks.

[2020-11-08 10:48] JarlPenguin opened #293 "[Request] Moto One (deen_sprout) QPKS30.54-22-13 kernel source"
Releasing the kernel source would be much appreciated. Thank you beforehand!

[2020-11-09 15:27] charleseb commented on #293
Hi @JarlPenguin,

We are working to release this version. It will be released in a couple days.

Thanks,
Charles

[2020-11-10 17:12] erfanoabdi commented on #292
@charleseb any updates on this?
we need moto changes on below qcom repos:
https://source.codeaurora.org/quic/la/platform/vendor/opensource/camera-kernel/
https://source.codeaurora.org/quic/la/platform/vendor/opensource/display-drivers/
https://source.codeaurora.org/quic/la/platform/vendor/opensource/video-driver/
https://source.codeaurora.org/quic/la/platform/vendor/qcom-opensource/data-kernel/

(

[2020-11-12 19:50] charleseb commented on #293
Hi @JarlPenguin,

Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPKS30.54-22-13

[2020-11-12 19:50] #293 closed, assigned to nobody

[2020-11-13 05:07] Hasaber8 commented on #288
Hey @chenyt9 any updates on this?

[2020-11-16 18:13] JarlPenguin opened #294 "[Request] Moto G7 (river) QPUS30.52-33-7 kernel source"
Releasing the kernel source would be much appreciated. Thank you beforehand!

[2020-11-18 03:15] chenyt9 commented on #288
@kytoaq ,
There is a problem in process.
Could you pls help reconfirm the version number？I only found this version：QPA30.19-Q3-32-39-1. Thanks.

[2020-11-18 04:51] kytoaq commented on #288
@chenyt9 Of course, I need that version. In the same way I need you to please provide the README file to generate the correct kernel defconfig, Thanks.

[2020-11-18 05:55] chenyt9 commented on #288
@kytoaq ，
What I need to confirm is, we only have a release record for QPA30.19-Q3-32-39-1，I will release QPA30.19-Q3-32-39-1 today. Will it meet your needs?

[2020-11-18 06:12] Hasaber8 commented on #288
Definitely works!

[2020-11-18 06:14] kytoaq commented on #288
Yes, I need this release QPA30.19-Q3-32-39-1 as you mentioned. I also request that you provide the README file to generate the correct kernel configuration (defconfig) please, thanks

[2020-11-18 06:16] chenyt9 commented on #288
Okay, no problem, I am preparing to push. The reame file will also be provided, please be patient. Thank you!

[2020-11-18 06:19] kytoaq commented on #288
Thanks for the support 👍

[2020-11-19 06:52] chenyt9 commented on #288
@kytoaq @Hasaber8 ，
Version released：
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPA30.19-Q3-32-21
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPA30.19-Q3-32-39-1
Readme file:
https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-QPA30.19-Q3-32-39-1.txt

Thanks.

[2020-11-19 06:52] #288 closed, assigned to nobody

[2020-11-20 18:00] alexenferman opened #295 "Moto E 2020 (Ginna) and sdm632 defconfig missing"
It looks like the kernel source is not fully complete for QPG30.82-95 Moto E 2020 (Ginna). It is missing ginna_defconfig or sdm632_defconfig.
Can someone provide me the right defconfig or upload the complete kernel source?

[2020-11-20 19:08] alexenferman commented on #277
Please release the Readme for Moto E 2020 Ginna!

[2020-11-23 03:12] chenyt9 commented on #295
@alexenferman ,
Pls refer to :https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-QPG30.82-95.txt
Thanks.

[2020-11-23 03:12] #295 closed, assigned to nobody

[2020-11-23 03:13] chenyt9 commented on #277
@betaxab @alexenferman ,
For Motorola E7 ginNA's readme:
Pls refer to :https://github.com/MotorolaMobilityLLC/readme/blob/master/MMI-QPG30.82-95.txt
Thanks.

[2020-11-24 12:50] erfanoabdi commented on #292
Bump @charleseb @awheeler-mmi @chenyt9

[2020-11-25 09:49] PythonLimited opened #296 "[GPL] Release the Motorola Evolve kernel source"
As stated above, the kernel source for the newly launched Motorola Evolve hasn't been uploaded.
Please do so!

[2020-11-27 06:14] Deivid21 opened #297 "[Request] Moto G8 Plus (doha) - QPIS30.28-Q3-28-26-1 Kernel Sources"
Hey,
Could you release kernel sources for this version?
Thanks :)

[2020-11-29 20:03] Jleeblanch opened #298 "Motorola Edge (racer) - Kernel source for tag QPD30.114-80"
@charleseb @awheeler-mmi

Can you please release the kernel source and other relevant sources for tag **QPD30.114-80**?

Thank you,
Joshua

[2020-12-02 06:57] Naxo79 opened #299 "[Request] Moto G7 Power (ocean) - QPOS30.52-29-9 Kernel Sources"
Hi,
Could you release kernel sources for this version (QPOS30.52-29-9)?
Thanks!

[2020-12-02 11:39] chenyt9 commented on #298
Hi，@Jleeblanch ，We are preparing to release work, but it will take about two weeks, please be patient, thank you!

[2020-12-06 08:54] Mcalle25 opened #300 "Request source kernel Motorola g7 river xt1962-4"
Please i need this source code
I need the kernel
preferably PPOS29.114-134-14
Pleaseeeeee

[2020-12-08 13:37] JarlPenguin opened #301 "[Request] Moto One (deen_sprout) QPKS30.54-22-14 kernel source"
Please release the kernel source for this tag, it would be much appreciated! Thanks!

[2020-12-08 19:40] charleseb commented on #301
Hi @JarlPenguin,

We are starting the process to release this version. It will be released by Monday.

[2020-12-08 19:46] charleseb commented on #299
Hi @Naxo79,

We are starting the process to release this version. It will be released by Monday.

Thanks,
Charles

[2020-12-08 19:58] charleseb commented on #297
Hi @Deivid21,

We are working to release this version. It will be released by Monday.

Thanks,
Charles

[2020-12-11 00:34] DelightReza opened #302 "[Request] Release Techpack for Moto G9 (guamp) MMI-QPX30.30-Q3-38-20"
Kindly Release Techpack for MMI-QPX30.30-Q3-38-20 tag there is not available

[2020-12-11 09:29] chenyt9 commented on #298
@Jleeblanch ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPD30.114-80
Thanks.

[2020-12-11 10:50] erfanoabdi commented on #298
@chenyt9 this release is missing techpack drivers (display, camera, ..)
please check https://github.com/MotorolaMobilityLLC/kernel-msm/issues/292

[2020-12-11 15:40] arunkumar413 opened #303 "kernel-msm Vs individual device kernel sources"
Hi Team,

The about section says the repo contains the kernal sources for msm based devices. However, I see that kernel sources for individual devices are being requested by the users. Could you please provide more clarity on the devices  (trade names)  this repo is for. Also how individual kernel sources are different from this repo.

Thanks,
Arun

[2020-12-12 00:40] DelightReza opened #304 "[Request] Release dts for 4.19 kernel"
Please release dts for 4.19 as it released by asus and OnePlus

[2020-12-13 01:47] klabit87 opened #305 "[REQUEST] Release techpack for Moto e6 (surfna) MMI-PPB29.73-81"
I formally request kernel source , techpack / vendor/qcom/audio , wifi and motorola-modules release for the MMI-PPB29.73-81 tag for surfna.
Thank you for your time.

[2020-12-13 01:48] wh0dat commented on #305
Please @awheeler-mmi @charleseb

Thanks

[2020-12-15 15:36] JarlPenguin commented on #301
@charleseb Any updates?

[2020-12-15 18:14] mbissaromoto commented on #294
Hi @JarlPenguin

Version is now released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPUS30.52-33-7

Att,
Marcelo

[2020-12-15 18:28] #294 closed, assigned to nobody

[2020-12-15 18:47] Hasaber8 commented on #304
https://github.com/MotorolaMobilityLLC/kernel-msm/issues/274

[2020-12-15 18:49] Hasaber8 commented on #296
That device isn't handled by motorola mobility.

[2020-12-15 18:59] mbissaromoto commented on #296
Hi @PythonLimited
Motorola Evolve is handled by Motorola Solutions, not Motorola Mobility. Please, see here: https://github.com/MotorolaSolutions

[2020-12-16 10:25] PythonLimited commented on #296
I don't see any kernel repos there either.

Can you suggest me a repo where I could open the issue?

[2020-12-20 02:56] ghost opened #306 "[request kernel] moto e6 play"
hello and thanks for reading.
I need the kernel of the moto e6 play bali XT2029-1 2/32 to be able to make studies of the operation of the system and the creation of the well-known custom ROMS.

[2020-12-20 06:45] wh0dat commented on #301
Monday of which month?

[2020-12-20 06:46] JarlPenguin commented on #301
Bump @charleseb @awheeler-mmi @chenyt9

[2020-12-21 01:27] erfanoabdi commented on #298
Please push this reversion for the following repos:

https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-camera
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-display
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-video
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-data-kernel

[2020-12-21 06:21] kytoaq commented on #297
Hi @charleseb any updates for this?

[2020-12-21 07:24] methuselahin commented on #297
@charleseb
 +1

[2020-12-21 12:33] mbissaromoto commented on #306
Hi @GKart
For exactly which tag do you need it? Example: POAS29.475-62-26-7

[2020-12-21 22:44] ghost commented on #306
Thank you for reading.

I need POA29.550-132 please.
by the way, being the legal owner of the device I want to know what is running in the background and for that I need to be told, if possible, how to unlock the bootloader of this device.

[2020-12-22 12:46] charleseb commented on #301
Hi @JarlPenguin,

Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPKS30.54-22-14

Sorry about the delay. I faced some problems in the process. But all is ok now.

[2020-12-22 12:46] #301 closed, assigned to nobody

[2020-12-22 12:54] charleseb commented on #297
Hi @Deivid21, @methuselahin , @kytoaq,

Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPIS30.28-Q3-28-26-1

Sorry about the delay.

Thanks,
Charles

[2020-12-22 12:54] #297 closed, assigned to nobody

[2020-12-22 13:00] charleseb commented on #299
Hi @Naxo79,

Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPOS30.52-29-9

[2020-12-22 13:00] #299 closed, assigned to nobody

[2020-12-22 13:07] #291 closed, assigned to nobody

[2020-12-22 13:07] #290 closed, assigned to nobody

[2020-12-22 13:14] mbissaromoto commented on #296
Hi @PythonLimited
Sorry, unfortunately I can't help you with this. Motorola Solutions is a different company, and we have no internal contacts to talk about it. You can maybe try to find a project that has more issues (even if not related to kernel) and open a new one.

[2020-12-22 14:46] Hasaber8 commented on #274
Hey @awheeler-mmi ,
Any updates from the business team?

[2020-12-22 15:17] awheeler-mmi commented on #306
Hey @GKart,

We are working on the Bali release.  Give us a week to get it prepped and released.

Many of our device are unloackable, and the steps are [here](https://motorola-global-portal.custhelp.com/app/standalone/bootloader/unlock-your-device-a).  I don't see Bali on the list, though.  But you should be able to check the background processes w/out unlocking the bootloader.  Are you able to ad

[2020-12-22 15:19] awheeler-mmi commented on #305
They're coming very shortly!  Sorry for the delay!!

[2020-12-22 15:33] betaxab commented on #292
hi @charleseb @awheeler-mmi @chenyt9 any updates???

[2020-12-22 15:36] awheeler-mmi commented on #292
Hey @betaxab. Yes, sorry for delay.  We are working on the release of the techpack drivers.  We should be getting them out shortly - hopefully an early Xmas present.

[2020-12-22 15:38] betaxab commented on #292
oh, good luck! @awheeler-mmi

[2020-12-22 16:10] #277 closed, assigned to nobody

[2020-12-22 17:47] ghost commented on #306
Hi @awheeler-mmi
thanks
The device is totally solid and although it does not help me, your work on this device is incredible. I cannot find a way to unlock the bootloader since it detects it as unknown to all commands. It has the most limited fastboot menu I've ever seen: fastboot devices and fastboot reboot, nothing more. I think that to develop next time I will buy one with snapdragon.

[2020-12-22 17:49] mcirsta commented on #300
I'm in no way related to Motorola but it seems to be available here:

https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPUS30.52-33-7

[2020-12-22 17:53] awheeler-mmi commented on #306
Yeah, I believe that MTK products use a different flashing tool than fastboot. I have never actually used it, since my team deals more with the QCOM (and SLSI)-based products.

[2020-12-22 17:53] mcirsta opened #307 "[request kernel] Lenovo Z6 ( L78121 )"
I bought a Lenovo Z6 ( not pro or lite ) which was sold only in China but I'd like to get the kernel sources to develop new ROMs for it.
 I know this is mostly for Motorola devices but I have no idea where to ask for the Lenovo kernel for this one. On the support page I only found the Z6 Pro.
 Any help would be appreciated.

@charleseb @awheeler-mmi @chenyt9

Thank you.

[2020-12-22 18:06] awheeler-mmi commented on #263
Thanks, I opened an internal bug for this.

[2020-12-22 18:06] #263 closed, assigned to nobody

[2020-12-22 18:08] awheeler-mmi commented on #192
Hey there, I recommend pinging the Motorola support forums [here](https://support.motorola.com/us/en).   We just deal with the OSS releases on Github. Thanks!

[2020-12-22 18:08] #192 closed, assigned to nobody

[2020-12-22 18:11] awheeler-mmi commented on #223
I'm closing this issue for now, since it is quite old.  I have spoken with the Telephony teams here, but I don't expect any changes in the short-term.  Sorry for the bad news.

[2020-12-22 18:11] #223 closed, assigned to nobody

[2020-12-22 18:15] awheeler-mmi commented on #281
Closing this issue, since we have the Motorola support thread about it.

[2020-12-22 18:15] #281 closed, assigned to nobody

[2020-12-22 18:18] awheeler-mmi commented on #296
Closing this issue, since the OS request is for a Motorola Solutions product.

[2020-12-22 18:18] #296 closed, assigned to nobody

[2020-12-22 19:28] GKart commented on #306
Thranks

[2020-12-22 19:29] ghost commented on #306
Thranks

[2020-12-22 20:46] charleseb commented on #305
Hi @wh0dat,

Please check these are the projects you are asking for:

https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-audio-kernel/releases/tag/MMI-PPB29.73-81
https://github.com/MotorolaMobilityLLC/motorola-kernel-modules/releases/tag/MMI-PPB29.73-81
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-wlan-prima/releases/tag/MMI-PPB29.73-81

[2020-12-22 21:07] charleseb commented on #302
Hi @raza231198,

Versions released:
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-display/releases/tag/MMI-QPX30.30-Q3-38-20
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-video/releases/tag/MMI-QPX30.30-Q3-38-20
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-data-kernel/releases/tag/MMI-QPX30.30-Q3-38-20
https://github.com/MotorolaMobilityLLC/kern

[2020-12-22 21:07] #302 closed, assigned to nobody

[2020-12-22 21:18] charleseb commented on #292
Hi @betaxab and @erfanoabdi,

Please find the techpack drivers listed below:
QPD30.70-58:
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-video/releases/tag/MMI-QPD30.70-58
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-camera/releases/tag/MMI-QPD30.70-58
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-data-kernel/releases/tag/MMI-QPD30.70-58
https://

[2020-12-22 21:18] #292 closed, assigned to nobody

[2020-12-22 21:19] charleseb commented on #298
Hi @erfanoabdi,

We are working to release the techpack drivers.

Thanks,
Charles

[2020-12-22 21:22] #305 closed, assigned to nobody

[2020-12-22 21:49] awheeler-mmi commented on #303
Hey @arunkumar413, this repo, kernel-msm, is for all of our qcom-based products.  We have corresponding projects for slsi and mtk  Since most of our products are QCOM-based, most of the kernel releases are in this project.

The "decoder ring" between trade names and our releases is quite complex, due to the number of products, trade names, and releases that we make.  So we tag the release with the

[2020-12-22 23:09] Jleeblanch commented on #298
@charleseb We thank you!

[2020-12-23 03:20] Mcalle25 commented on #300
Muchas gracias amigo, intentaré compilar mi kernel personalizado con esto.

[2020-12-23 15:54] awheeler-mmi commented on #303
Closing for now.  Re-respond if there are still questions. Thanks!

[2020-12-23 15:54] #303 closed, assigned to nobody

[2020-12-23 20:23] ghost commented on #306
So there is no solution for the bootloader?

[2020-12-23 20:31] mbissaromoto commented on #298
Hi @erfanoabdi

Techpack drivers available at:
https://github.com/MotorolaMobilityLLC/vendor-qcom-opensource-data-kernel/releases/tag/MMI-QPD30.114-80
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-video/releases/tag/MMI-QPD30.114-80
https://github.com/MotorolaMobilityLLC/kernel-msm-4.19-techpack-display/releases/tag/MMI-QPD30.114-80
https://github.com/MotorolaMobilityLLC/kernel-m

[2020-12-23 20:32] #298 closed, assigned to nobody

[2020-12-23 20:38] awheeler-mmi commented on #306
Yeah, there is no supported method for unlocking the Bali bootloader.

[2020-12-23 20:54] awheeler-mmi commented on #274
No update.  I'll escalate, once again.

[2020-12-23 21:22] ghost commented on #306
@awheeler-mmi thranks

[2020-12-25 19:23] erfanoabdi commented on #298
Thanks
sorry i forgot to ask in previous comment
please push racer tag for "motorola-kernel-modules" repo

[2020-12-28 18:38] mbissaromoto commented on #298
Hi @erfanoabdi

It is done. Check here: https://github.com/MotorolaMobilityLLC/motorola-kernel-modules/releases/tag/MMI-QPD30.114-80

Att,
Marcelo

[2020-12-28 18:43] erfanoabdi commented on #298
Thanks 🙏

[2020-12-29 00:07] kytoaq opened #308 "[Request] Moto G7 Plus (lake) - QPWS30.61-21-18-5 Kernel Sources"
Hi Moto;
Could you release kernel source for this version?
Thanks :)

[2020-12-29 12:37] mbissaromoto commented on #308
Hi @kytoaq , @Deivid21 and @GarfieldFernando

Ok, I'm working on it.

Att,
Marcelo

[2020-12-29 16:24] mbissaromoto commented on #300
Hi @Mcalle25

Here it is: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-PPOS29.114-134-14

Att,
Marcelo

[2020-12-29 16:24] #300 closed, assigned to nobody

[2020-12-29 16:35] Mcalle25 commented on #300
Thanks you, very much

[2021-01-01 18:20] Deivid21 opened #309 "[Request] Moto G7 Power (ocean) - QPOS30.52-29-11 Kernel Sources"
Hi, can you release kernel sources for this version?
Thanks!

[2021-01-06 10:40] JarlPenguin opened #310 "[Request] Moto One (deen_sprout) QPKS30.54-22-15 kernel source"
Releasing the kernel source would be much appreciated, thank you!

[2021-01-06 13:33] mbissaromoto commented on #310
Hi @JarlPenguin

Ok, working on it

[2021-01-06 13:33] mbissaromoto commented on #309
Hi @Deivid21  and @kytoaq,

Ok, working on it.

[2021-01-06 13:36] mbissaromoto commented on #307
Hi @mcirsta

I would like to help you with this, but Lenovo phones are out of my jurisdiction. Really sorry :(

The only suggestion I can give to you is to try asking for help on [Lenovo profile in github](https://github.com/lenovo).

Att,
Marcelo

[2021-01-06 13:36] #307 closed, assigned to nobody

[2021-01-06 15:21] kytoaq commented on #306
Hi @awheeler-mmi any update on this? Release would be greatly appreciated, please provide ETA. Thanks.

[2021-01-06 16:31] awheeler-mmi commented on #306
I'm moving this to [kernel-mtk](https://github.com/MotorolaMobilityLLC/kernel-mtk/issues/39) .

[2021-01-06 16:31] #306 closed, assigned to nobody

[2021-01-08 06:16] kytoaq commented on #308
hi, any updates on this?

[2021-01-08 12:38] mbissaromoto commented on #308
Hi @kytoaq

It is released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPWS30.61-21-18-5

Sorry for the delay. We are working on some improvements in our internal process to speed up this delivery for next tags.

Att,
Marcelo

[2021-01-08 13:09] mbissaromoto commented on #309
Hi @Deivid21  and @kytoaq

Release is published: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPOS30.52-29-11

Att,
Marcelo

[2021-01-08 13:10] mbissaromoto commented on #310
Hi @JarlPenguin

Release is published: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPKS30.54-22-15

Att,
Marcelo

[2021-01-08 16:59] JarlPenguin commented on #310
Thanks!

[2021-01-08 16:59] #310 closed, assigned to mbissaromoto

[2021-01-08 20:12] Deivid21 commented on #309
Many thanks :)

[2021-01-08 20:12] #309 closed, assigned to mbissaromoto

[2021-01-08 20:15] kytoaq commented on #308
Seem right. thanks for the attention and the release.

[2021-01-08 20:15] #308 closed, assigned to mbissaromoto

[2021-01-08 20:28] ghost opened #311 "[Request] Moto G7 Play (channel) - QPYS30.52-22-12 Kernel Sources"
Hellooo guys!!
Can you release kernel sources for this version? Please, thanks! :)

[2021-01-08 20:54] Karl621 opened #312 "KERNEL REQUEST"
Good Afternoon
Please release kernel source for POA29.550_132_2010_20201027 (for Motorola Moto e6 play XT2029-1) I require if for compile an alternative custom mod (Since December 20th I'm having problems with the current version POAS29.550_132_2_2012_20201212) I called to the customer service for warranty but the person said that it was "invalid" only for my IMEI (supposed, it is a foreign smartp

[2021-01-08 21:56] mbissaromoto commented on #311
Hi @GarfieldFernando

I'm working on it

Att,
Marcelo

[2021-01-09 01:48] Naxo79 opened #313 "[Request] Moto G7 (river) - QPUS30.52-16-2-12 Kernel Sources"
Hi!!
Can you release kernel sources for this version?
Thanks! :)

[2021-01-10 05:12] Deivid21 opened #314 "[Request] Moto G8 Plus (doha) - QPIS30.28-Q3-28-26-3 Kernel Sources"
Hi!
Can you release kernel sources for this version?
Thanks! :D

[2021-01-12 14:50] mbissaromoto commented on #311
It is now released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPYS30.52-22-12

Att,
Marcelo

[2021-01-12 14:50] mbissaromoto commented on #313
It is now released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPUS30.52-16-2-12

Att,
Marcelo

[2021-01-12 14:52] mbissaromoto commented on #314
It is now released: https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPIS30.28-Q3-28-26-3

Att,
Marcelo

[2021-01-13 00:56] ghost commented on #311
thank you

[2021-01-13 00:56] #311 closed, assigned to mbissaromoto

[2021-01-13 01:01] Deivid21 commented on #314
Thanks again! :D

[2021-01-13 01:01] #314 closed, assigned to mbissaromoto

[2021-01-13 14:24] #313 closed, assigned to mbissaromoto

[2021-01-16 20:02] ghost opened #315 "[Request] Moto G 5G (kiev) - QZK30.Q4-40-32 Kernel Sources"
Hello!
Can you release kernel sources for this version? Please, thx. :DD

[2021-01-16 20:11] kytoaq commented on #315
If possible also release dtsi for kernel 4.19 please, being broad importance the device tree of kiev and drivers. Thanks.

[2021-01-18 05:07] Deivid21 commented on #315
Can release the kernel source from QZK30.Q4-40-52 and full techpack, please?
Thx!

[2021-01-18 05:08] ghost commented on #315
sorry, I was forgetting, release for techpack too, please

[2021-01-18 12:28] mbissaromoto commented on #315
Hi @GarfieldFernando , @Deivid21  and @kytoaq

For a better tracking, can you please open a new issue to request this QZK30.Q4-40-52 tag?

As 40-32 is the first Kiev tag we gonna release, our internal process will take some time. After it is done and first tag is released, all next tags can be released right after.

Att,
Marcelo

[2021-01-18 19:52] ghost commented on #315
Ok, i will do

[2021-01-18 19:54] mbissaromoto commented on #315
Reopening. This issue will be used to track the 40-32.

[2021-01-18 19:55] ghost opened #316 "[Request] Moto G 5G (kiev) - QZK30.Q4-40-52 Kernel Sources"
Hello!
Can you release kernel sources and full techpack for this version? please, thx! :)

[2021-01-20 14:38] xboxfanj commented on #274
For reference, Google, Xiaomi, OnePlus, ZTE, Asus, Samsung, and Oppo released 4.19 DTS. It may be a different question if the CAF unmodified DTS is proprietary and if OEMs can release theirs.

[2021-01-20 14:40] MartinX3 commented on #274
And Sony
https://github.com/sonyxperiadev/kernel/commit/fb370d8213a692cf8ed307267f5ae9ec86fc07df

[2021-01-20 14:47] awheeler-mmi commented on #274
Thanks for the Sony link. This will help.

[2021-01-20 16:11] Hasaber8 commented on #274
Hopefully it will be good news from your side soon.

[2021-01-20 16:58] awheeler-mmi commented on #274
Yeah, I'm trying again.  I just shot an email to my closest contact at QCOM that's in charge of these sorts of things.  Hopefully I get some traction.  I don't think anyone wants to keep this stuff from developers, it's just hard to get stuff like this fixed.  Thanks for the patience -- and continuing to provide "competitor" info, which definitely helps.

[2021-01-21 14:53] awheeler-mmi commented on #274
Good news, QC gave us approval to share the DTS files.  We just need to figure out how to filter out the non-relevant dts files (QC's only stipulation), and come up with an efficient release mechanism.

Sadly, our main open-source engineer, Charles, is no longer with our company.  (He's off to a new adventure in Europe - wish him well!)  So give us a bit of time to work this out.

[2021-01-21 15:38] xboxfanj commented on #274
Thanks Andrew, much appreciated!

[2021-01-21 16:15] Vachounet commented on #274
Awesome, thank you :)

[2021-01-21 16:16] Hasaber8 commented on #274
I hope Charles does amazing at his new adventure!!
And thank you for the amazing news!

[2021-01-21 16:21] DelightReza commented on #274
Nice, thanks 😬

[2021-01-22 05:45] Katsumi-Minami opened #317 "[Request] Moto G⁷ Play (Channel) - QPYS30.52-22-12 Kernel Sources"
Hello, hello... Could you release 32bits kernel sources for this version? If u can, thank you, greetings lol

[2021-01-26 17:46] betaxab opened #318 "[Request] Motorola Edge S (nio) RRN31.Q1-20-17-1 kernel sources"
Hi,

Can you please release the kernel source and other relevant sources for tag RRN31.Q1-20-17-1?

I hope you could also release techpack and dts too.

Thanks a lot. 😄

@awheeler-mmi @mbissaromoto

[2021-01-26 18:55] kauan-wg opened #319 "[Request] Motorola E7 Plus (guam) QPZS30.30-Q3-38-42-3 kernel sources"
Hi,

Can you please release the kernel source and other relevant sources for tag QPZS30.30-Q3-38-42-3?

I hope you could also release techpack and dts too.

Thanks a lot. smile

[2021-01-27 06:18] chenyt9 commented on #319
Hi，@kauan-wg
We are starting the process to release this version. We will release release techpack.
It will be released within two week. Please wait patiently, Thank you!

[2021-01-27 06:29] chenyt9 commented on #318
Hi, @betaxab ,
We are starting the process to release this version. We will release release techpack.
It may be need about two week. Please wait patiently, Thank you!

[2021-01-27 07:56] JarlPenguin opened #320 "[Request] Moto One (deen_sprout) QPKS30.54-22-16 kernel source"
Releasing the kernel source would be great, thanks!

[2021-01-27 11:05] betaxab commented on #318
@chenyt9 Thank you! Have a nice day!

[2021-01-29 17:04] electimon opened #321 "[Request] Moto E 2020 (GinNA) QPG30.82-132 Kernel Source"
Can I get tag MMI-QPG30.82-132 ? Thanks

[2021-01-31 15:44] Deivid21 opened #322 "[Request] Moto G9 Play (Guamp) - QPXS30.30-Q3-38-42-4 Kernel Sources"
Hi, can you release kernel sources and full techpack for this version, Thanks!

[2021-02-01 08:03] chenyt9 commented on #322
Hi, @Deivid21 ,
We are starting the process to release this version. We will release release techpack.
It will need about two week. Please wait patiently, Thank you!

[2021-02-05 06:42] chenyt9 commented on #319
Hi，@kauan-wg
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPZS30.30-Q3-38-42-3
Thanks.

Yuting.Chen

[2021-02-05 06:42] #319 closed, assigned to nobody

[2021-02-05 10:46] yiesko commented on #319
Nice!

[2021-02-06 11:18] Vachounet opened #323 "[Request] moto g pro (sofiap_sprout) - RPR31.Q4U-20-26-2"
Hi,

Could you realease kernel sources from the R update please ?

[2021-02-07 17:50] Hasaber8 opened #324 "[Issue with released driver] Liber - Moto One Fusion + - Popup driver seems to be broken."
https://github.com/MotorolaMobilityLLC/motorola-kernel-modules/blob/android-10-release-qpa/drivers/popup/aw8646/aw8646.c
The following driver seems to custom made, on compiling the driver the device refuses to boot. Please check if correct version is release and if any other changes are need to dts for it work properly .

[2021-02-07 18:08] #324 closed, assigned to nobody

[2021-02-16 07:48] kytoaq commented on #322
Any news about this? Guam has been released but I'm not sure if they are compatible. The kernel is based on LA.UM.8.15.r2-02400-KAMORTA.0 (Bengal). Please when they launch it could you specify the differences between guam (Moto E7 Plus) and guamp (Moto G9/G9 Play) please. If you can include the dtsi and dts from kernel 4.19 that would be great. Thank you.

[2021-02-19 06:11] chenyt9 commented on #322
Version release：https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-QPXS30.30-Q3-38-42-4.
Thanks.

[2021-02-19 11:08] kytoaq commented on #316
@mbissaromoto Any updates for this? 🤔

[2021-02-20 13:33] Vachounet commented on #323
Bump @chenyt9 @mbissaromoto :)

[2021-02-20 13:50] Hasaber8 commented on #274
Still waiting :-\

[2021-02-20 19:31] ghost opened #325 "[Request] Motorola moto g 5G plus kernel source (Android 11)"
Hi, could you please release the source code of this device?
Glowing regards.

[2021-02-20 19:50] ghost commented on #325
The version that I would like is QPNS30.37-Q3-42-62-1 :)

[2021-02-21 11:05] chenyt9 commented on #318
Hi,@betaxab ,
Version released:
https://github.com/MotorolaMobilityLLC/kernel-msm/releases/tag/MMI-RRN31.Q1-20-17-1
Thanks.

[2021-02-21 11:05] #318 closed, assigned to nobody

[2021-02-25 13:38] electimon opened #326 "[Request] Motorola Edge Plus MMI-QPB30.188-58 Techpack sources"
Although kernel tag was released, techpack tags were not. Can you release them?